<template>
  <div class="w-100">
    <h1 class="text-lg-left">KARDEX</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Kardex<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>
    <List  :lista="lista"/>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/kardex/List.vue";

export default {
  name: "Index",
  components: {
    List,
  },
  data() {
    return {
      nuevoReporte: {
        idkardex: 0,
        productoIdproducto: "",
        codigo: "",
        cantidad: "",
        fecha: "",
        razon: "",
        descripcion: "",
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.kardex.lista,
      listaProductos: (state) => state.productos.lista,
    }),
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("kardex/obtenerListaKardex");
      this.$store.dispatch("productos/obtenerListaProductos");
    },
  },
};
</script>
<style>
</style>
