<template>
  <div class="entradas">
    <table class="table">
      <tbody>
        <tr>
          <td width="5%">{{ kardex.idkardex }}</td>
          <td width="5%">{{ kardex.fecha }}</td>
          <td width="12%">{{ kardex.razon }}</td>
          <td width="10%">{{ kardex.productoIdproducto }}</td>
          <td width="10%">{{ kardex.nombreproducto }}</td>
          <td width="7%">{{ kardex.cantidad }}</td>
          <td width="7%">{{ kardex.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

export default {
  name: "Kardex",
  props: {
    kardex: Object,
  },
};
</script>
<style>
</style>
