<template>
  <div>
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
      <div class="row form-inline">
        <label class="form-inline" for="validationCustom04">Razón</label>
        <select class="custom-select" id="validationCustom04" v-model="select" required>
          <option value="">Elegir</option>
          <option>Entrada</option>
          <option>Salida</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      </div>
      <button type="button" class="btn btn-success float-rigth"  @click="presentarModal">
        Imprimir
      </button>
    </div>
    <thead class="table bg-info">
      <tr>
        <th width="5%" scope="col" class="text-light">IdKardex</th>
        <th width="5%" scope="col" class="text-light">Fecha</th>
        <th width="12%" scope="col" class="text-light">Razón</th>
        <th width="10%" scope="col" class="text-light">Id</th>
        <th width="10%" scope="col" class="text-light">Producto</th>
        <th width="7%" scope="col" class="text-light">Cantidad</th>
        <th width="7%" scope="col" class="text-light">Descripción</th>
      </tr>
    </thead>
    <div class="table bg-white">
      <Kardex :key="kardex.idkardex" :kardex="kardex" v-for="kardex in listaFiltrada"/>
    </div>
    <!-- Modal Reporte-->
    <div class="modal fade" id="reporteModal">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-body">
            <Reporte :lista="listaFiltrada"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalReporte">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Kardex from "@/views/kardex/Kardex.vue";
import Reporte from "@/views/kardex/Reporte.vue";

export default {
  name: "List",
  components: {
    Kardex,
    Reporte,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
      select: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      const selected = this.select.toUpperCase();
      return this.lista.filter((u) => (u.nombreproducto.toUpperCase().match(match) && u.razon.toUpperCase().match(selected)));
    },
  },
  methods: {
    presentarModal() {
      this.$parent.search = { ...this.buscar.toUpperCase() };
      this.$parent.seleccionar = { ...this.select.toUpperCase() };
      this.$parent.$parent.listaProducto = { ...this.listaFiltrada };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    ocultarModalReporte() {
      const modal = document.getElementById("reporteModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>

<style>
</style>
