<template>
  <div class="contenedor">
    <div id="reporte">
      <h4 class="text-left font-weight-bold text-info mb-4">EDUCANDO SA</h4>
      <div>
        <div class="row">
          <label class="font-weight-bold pl-3" for="">Producto:</label>
        </div>
        <!-- Fin de los datos -->
      </div>
    <table class="table">
      <thead class="bg-info">
        <tr>
          <th width="5%" class="text-light" scope="col">Fecha</th>
          <th width="12%" class="text-light" scope="col">Razón</th>
          <th width="10%" class="text-light" scope="col">Código</th>
          <th width="10%" class="text-light" scope="col">Producto</th>
          <th width="7%" class="text-light" scope="col">Cantidad</th>
          <th width="7%" class="text-light" scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" v-for="item in lista" :key="item.idkardex">
          <td width="5%">{{ item.fecha }}</td>
          <td width="12%">{{ item.razon }}</td>
          <td width="10%">{{ item.productoIdproducto }}</td>
          <td width="10%">{{ item.nombreproducto }}</td>
          <td width="7%">{{ item.cantidad }}</td>
          <td width="7%">{{ item.descripcion }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <button @click="download" type="button" class="btn btn-primary">Imprimir</button>
  </div>
</template>

<script>
import html2canvas from 'html2canvas';
import JsPDF from 'jspdf';

export default {
  name: "Reporte",
  props: {
    solicitudReporte: Object,
    lista: {
      type: Array,
    },
  },
  computed: {
    info() {
      return {
        nombreproducto: this.lista[0].nombreproducto,
      };
    },
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("productos/obtenerListaProductos");
    },
    download() {
      const quotes = document.getElementById("reporte");
      html2canvas(quotes).then((canvas) => {
        const imgData = canvas.toDataURL('img/png');
        const doc = new JsPDF('l', 'mm', 'a4');
        const pdfWidth = doc.internal.pageSize.getWidth();
        const pdfHeight = doc.internal.pageSize.getHeight;
        const ratio = pdfHeight / pdfWidth;
        this.pdfHeight = ratio * pdfWidth;
        doc.addImage(imgData, 'PNG', 12, 10, 180, 100);
        doc.save('reporte.pdf');
      });
    },
  },
};
</script>

<style>
</style>
