<template>
  <div id="formProducto" class="mb-3">
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3 class="text-left py-3 m-0">Crear Proveedor</h3>
    <form class="py-4 border-top">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputNombre"
            v-model="nuevoProveedor.nombreproveedor"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputDireccion">Dirección</label>
          <input
            type="text"
            class="form-control"
            id="inputDireccion"
            v-model="nuevoProveedor.direccionprov"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputTelefono">Telefono</label>
          <input
            type="number"
            class="form-control"
            id="inputTelefono"
            v-model="nuevoProveedor.telefono"
          />
          <small style="color: red" v-if="telf">* Minimo 10 caracteres</small>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-secondary float-left" @click="cancelar">Cancelar</button>
    <button type="button" v-if="nuevo" class="btn btn-success float-right" @click="crear">
      Guardar
    </button>
    <button type="button" v-else class="btn btn-primary float-right" @click="editar">
      Editar
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      error: false,
      telf: false
    };
  },
  props: {
    nuevo: {
      type: Boolean
    },
    nuevoProveedor: {
      type: Object
    }
  },
  computed: {
    ...mapState({
      listaProveedor: state => state.proveedores.lista
    })
  },
  methods: {
    presentarToast(msg) {
      const toast = document.getElementById("toastProveedor");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    crear() {
      if (
        this.nuevoProveedor.nombreproveedor === "" ||
        this.nuevoProveedor.direccionprov === "" ||
        this.nuevoProveedor.telefono === ""
      ) {
        this.error = true;
      } else {
        if (this.nuevoProveedor.telefono.length < 10) {
          this.telf = true;
        } else {
          this.telf = false;
          this.$store.dispatch("proveedores/crearProveedor", this.nuevoProveedor).then(res => {
            this.presentarToast(res.mensaje);
          });
          this.cancelar();
        }
      }
    },
    editar() {
      if (
        this.nuevoProveedor.nombreproveedor === "" ||
        this.nuevoProveedor.direccionprov === "" ||
        this.nuevoProveedor.telefono === ""
      ) {
        this.error = true;
      } else {
        if (this.nuevoProveedor.telefono.length < 10) {
          this.telf = true;
        } else {
          this.$store.dispatch("proveedores/editarProveedor", this.nuevoProveedor).then(res => {
            this.presentarToast(res.mensaje);
            this.$parent.cargarLista();
            this.$parent.nuevo = true;
            this.$parent.nuevoProveedor = {
              nit: 0,
              nombreproveedor: "",
              direccionprov: "",
              telefono: ""
            };
          });
          this.cancelar();
        }
      }
    },
    cancelar() {
      this.$parent.agregarProveedor();
    }
  }
};
</script>

<style></style>
