<template>
  <div id="listaProveedores">
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
      <button type="button" class="btn btn-success float-rigth" @click="agregar">
        Agregar
      </button>
    </div>
    <div class="list-group">
      <Proveedor :key="proveedor.nit" :proveedor="proveedor" v-for="proveedor in listaFiltrada" />
    </div>
  </div>
</template>
<script>
/* import { mapState, mapGetters } from "vuex"; */
import Proveedor from "@/views/proveedores/Proveedor.vue";

export default {
  name: "List",
  components: {
    Proveedor,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.nit.toString().match(match) || u.nombreproveedor.toUpperCase().match(match) || u.direccionprov.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarProveedor();
    },
  },
};
</script>

<style></style>
