<template>
  <div class="list-group-item list-group-item-action">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ proveedor.nit }})   {{ proveedor.nombreproveedor }}
        </h5>
      </div>
      <div class="badge badge-dark">
      {{ proveedor.direccionprov }}
      </div>
      <div>
        <small class="badge badge-success">{{ proveedor.telefono }}</small>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Editar
      </button>
      <button type="button" class="btn btn-outline-danger btn-block" @click="presentarModal">
        Eliminar
      </button>
    </div>
  </div>
</template>

<script>

export default {
  name: "Proveedor",
  props: {
    proveedor: Object,
  },
  methods: {
    mostrarForm() {
      this.$parent.$parent.agregarProveedor();
      this.$parent.$parent.nuevo = false;
      this.$parent.$parent.nuevoProveedor = { ...this.proveedor };
    },
    presentarModal() {
      const modal = document.getElementById("proveedorModal");
      const modalBody = modal.getElementsByClassName("modal-body");
      modalBody[0].innerHTML = `Estas seguro de eliminar el proveedor: <strong class='text-danger'>${this.proveedor.nombreproveedor}</strong>`;
      const btnEliminarModal = document.getElementById("btnEliminarProveedores");
      btnEliminarModal.addEventListener("click", this.eliminar);
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastProveedor");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    eliminar() {
      this.$store
        .dispatch("proveedores/eliminarProveedor", this.proveedor)
        .then((res) => this.presentarToast(res.mensaje));
      const modal = document.getElementById("proveedorModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
