<template>
  <div id="dashboard">
    <Header />
    <div class="container-fluid" style="margin-top: 55px">
      <div class="row">
        <Menu v-if="show" />
        <MenuAlmacen v-if="showAlmacen" />
        <MenuCompras v-if="showCompras" />
        <MenuDirector v-if="showDirector" />
        <MenuInventario v-if="showInventario" />
        <main rv-show="!show" ole="main" class="col-md-9 col-lg-10">
          <router-view />
        </main>
        <!-- Fin de la etiqueta main-->
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import Header from "@/components/Header.vue";
import Menu from "@/components/Menu.vue";
import MenuAlmacen from "@/components/MenuAlmacen.vue";
import MenuCompras from "@/components/MenuCompras.vue";
import MenuDirector from "@/components/MenuDirector.vue";
import MenuInventario from "@/components/MenuInventario.vue";

export default {
  name: "Dashboard",
  data() {
    return {
      show: false,
      showAlmacen: false,
      showCompras: false,
      showDirector: false,
      showInventario: false,
      usuario: {
        correo: "",
        contrasena: ""
      }
    };
  },
  components: {
    Header,
    Menu,
    MenuAlmacen,
    MenuCompras,
    MenuDirector,
    MenuInventario
  },
  computed: {
    ...mapState({
      lista: state => state.usuarios.lista
    })
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarMenu() {
      console.log(this.lista);
      const area = this.lista.filter(r => r.correo === this.usuario.correo);
      const rol = area[0].roleIdrol;
      if (rol == 2) {
        this.show = true;
        this.showAlmacen = false;
        this.showCompras = false;
        this.showDirector = false;
        this.showInventario = false;
      }
      if (rol == 4) {
        this.showAlmacen = true;
        this.show = false;
        this.showCompras = false;
        this.showDirector = false;
        this.showInventario = false;
      }
      if (rol == 5) {
        this.showInventario = true;
        this.showAlmacen = false;
        this.show = false;
        this.showDirector = false;
        this.showCompras = false;
      }
      if (rol == 9) {
        this.showCompras = true;
        this.showDirector = false;
        this.showAlmacen = false;
        this.show = false;
        this.showInventario = false;
      }
      if (rol == 10) {
        this.showDirector = true;
        this.showInventario = false;
        this.showCompras = false;
        this.showAlmacen = false;
        this.show = false;
      }
    },
    cargarLista() {
      this.$store.dispatch("usuarios/obtenerListaUsuarios").then(() => {
        if (JSON.parse(localStorage.getItem("usuario"))) {
          this.usuario = JSON.parse(localStorage.getItem("usuario"));
          this.cargarMenu();
          console.log();
        }
      });
    },
    showProfile() {
      const profile = document.querySelector("#profile-dropdown-menu");
      profile.style.display = "block";
    },
    hideProfile() {
      const profile = document.querySelector("#profile-dropdown-menu");
      profile.style.display = "none";
    }
  }
};
</script>

<style lang="css">
.nav-link {
  text-align: left;
}
</style>
