<template>
  <div class="w-100">
    <h1 class="text-lg-left">Ordenes contractuales rechazadas</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Ordenes contractuales rechazadas<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>
    <List :lista="listaFiltrada"/>
    <!-- Modal Reporte-->
    <div class="modal fade" id="reporteModal">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-body">
            <Reporte :solicitudReporte="nuevoReporte" :lista="listaCompras"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalReporte">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/ordenes/ordenesRechazadas/List.vue";
import Reporte from "@/views/ordenes/Reporte.vue";

export default {
  name: "Index",
  components: {
    List,
    Reporte,
  },
  data() {
    return {
      nuevoReporte: {
        numorden: 0,
        nombreProveedor: "",
        fechaorden: "",
        fechaentrega: "",
        total: 0,
        estado: false,
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.ordenes.lista,
      listaCompras: (state) => state.compras.lista,
    }),
    listaFiltrada() {
      return this.lista.filter((u) => (u.estado === false));
    },
  },
  created() {
    this.$store.dispatch("ordenes/obtenerListaOrdenes");
    this.$store.dispatch("compras/obtenerListaCompras");
  },
  methods: {
    ocultarModalReporte() {
      const modal = document.getElementById("reporteModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style>
</style>
