<template>
  <div class="ordenRech">
    <table class="table">
      <tbody>
        <tr>
          <th width="5%">{{ ordenRech.numorden }}</th>
          <td width="12%">{{ ordenRech.nombreproveedor }}</td>
          <td width="10%">{{ ordenRech.fechaorden }}</td>
          <td width="7%">{{ ordenRech.fechaentrega }}</td>
          <td width="7%">
            <button class="btn btn-info" type="button" @click="presentarModal">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "OrdenesRechazadas",
  props: {
    ordenRech: Object,
  },
  methods: {
    presentarModal() {
      this.$parent.$parent.nuevoReporte = { ...this.ordenRech };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
  },
};
</script>
<style>
</style>
