<template>
  <div id="formRol" class="mb-3">
    <h3 class="text-left py-3 m-0">Crear Rol</h3>
    <form class="py-4 border-top">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputRol">Rol</label>
          <input type="text" class="form-control" id="inputRol" v-model="nuevoRol.rol" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputDesc">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="inputDesc"
            v-model="nuevoRol.descripcion"
          />
        </div>
      </div>
    </form>

    <button type="button" class="btn btn-secondary float-left" @click="cancelar">Cancelar</button>
    <button type="button" v-if="nuevo" class="btn btn-success float-right" @click="crear">
      Guardar
    </button>
    <button type="button" v-else class="btn btn-primary float-right" @click="editar">
      Editar
    </button>
  </div>
</template>

<script>
export default {
  props: {
    nuevo: {
      type: Boolean,
    },
    nuevoRol: {
      type: Object,
    },
  },
  methods: {
    presentarToast(msg) {
      const toast = document.getElementById("toastRol");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    crear() {
      this.$store.dispatch("roles/crearRol", this.nuevoRol).then((res) => {
        this.presentarToast(res.mensaje);
      });
      this.cancelar();
    },
    editar() {
      console.log("Editando rol", this.nuevoRol);
      this.$store.dispatch("roles/editarRol", this.nuevoRol).then((res) => {
        this.presentarToast(res.mensaje);
        this.$parent.cargarLista();
        this.$parent.nuevo = true;
        this.$parent.nuevoRol = {
          idrol: 0,
          rol: "",
          descripcion: "",
        };
      });
      this.cancelar();
    },
    cancelar() {
      this.$parent.agregarRol();
    },
  },
};
</script>

<style></style>
