<template>
  <div id="listaRoles">
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
        <button type="button" class="btn btn-success float-rigth m-1" @click="agregar">
          Agregar
        </button>
    </div>
    <div class="list-group">
      <Rol :key="rol.id" :rol="rol" v-for="rol in listaFiltrada" />
    </div>
  </div>
</template>

<script>
import Rol from "@/views/roles/Rol.vue";

export default {
  name: "List",
  components: {
    Rol,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.idrol.toString().match(match) || u.rol.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarRol();
    },
  },
};
</script>

<style></style>
