<template>
  <div class="list-group-item list-group-item-action">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ rol.idrol }} {{ rol.rol }}
        </h5>
      </div>
      <small class="badge badge-secondary">{{ rol.descripcion }}</small>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Editar
      </button>
      <button type="button" class="btn btn-outline-danger btn-block" @click="presentarModal">
        Eliminar
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Rol",
  props: {
    rol: Object,
  },
  computed: {
    ...mapState({
    }),
  },
  methods: {
    mostrarForm() {
      this.$parent.$parent.agregarRol();
      this.$parent.$parent.nuevo = false;
      this.$parent.$parent.nuevoRol = { ...this.rol };
    },
    presentarModal() {
      const modal = document.getElementById("rolModal");
      const modalBody = modal.getElementsByClassName("modal-body");
      modalBody[0].innerHTML = `Estas seguro de eliminar al rol: <strong class='text-danger'>${this.rol.rol}</strong>`;
      const btnEliminarModal = document.getElementById("btnEliminarRol");
      btnEliminarModal.addEventListener("click", this.eliminar);
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastRol");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    eliminar() {
      this.$store
        .dispatch("roles/eliminarRol", this.rol)
        .then((res) => this.presentarToast(res.mensaje));
      const modal = document.getElementById("rolModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
