<template>
  <div class="solicitudes">
    <table class="table table-hover bg-white">
      <tbody>
        <tr>
          <td width="5%">{{ solicitudes.numsolicitud }}</td>
          <td width="7%">{{ solicitudes.responsable }}</td>
          <td width="7%">{{ solicitudes.fecha }}</td>
          <td width="7%">{{ solicitudes.rubropresupuestal }}</td>
          <td width="4%" id="estado">{{ info.estado }}</td>
          <td width="7%">
            <button class="btn btn-success mr-2" type="button" @click="aceptarSolicitud">Ace</button>
            <button class="btn btn-danger mr-2" type="button" @click="rechazarSolicitud">Rec</button>
            <button class="btn btn-info" type="button" @click="presentarModal">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "SolicitudesAC",
  components: {
  },
  props: {
    solicitudes: Object,
  },
  computed: {
    ...mapState({
      info() {
        let estado;
        if (this.solicitudes.estado === true) {
          estado = 'aprobado';
        } else if (this.solicitudes.estado === false) {
          estado = 'rechazado';
        } else {
          estado = 'pendiente';
        }
        return {
          estado,
        };
      },
    }),
  },
  methods: {
    presentarToast(msg) {
      const toast = document.getElementById("toastSolicitud");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    presentarModal() {
      this.$parent.$parent.nuevoReporte = { ...this.solicitudes };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    aceptarSolicitud() {
      this.solicitudes.estado = true;
      this.$store.dispatch("solicitudes/editarSolicitud", this.solicitudes).then((res) => {
        this.presentarToast(res.mensaje);
      });
    },
    rechazarSolicitud() {
      this.solicitudes.estado = false;
      this.$store.dispatch("solicitudes/editarSolicitud", this.solicitudes).then((res) => {
        this.presentarToast(res.mensaje);
      });
    },
  },
};
</script>
<style></style>
