<template>
  <div
    class="w-75 m-auto shadow p-3 mb-5 bg-white rounded"
    data-spy="scroll"
    data-target=".navbar"
    data-offset="50"
  >
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="doble" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Producto repetido
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="doble = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1 class="">Solicitud de compra</h1>
    <form name="form" class="text-left p-3 needs-validation">
      <label class="font-weight-bold">RESPONSABLE</label>
      <div class="form-row">
        <!-- Contenedor para la informacion del usuario -->
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <!--<input type="text" class="form-control" id="inputNombre"/>-->
          <input
            id="inputNombre"
            type="text"
            class="form-control"
            v-model="nuevoUsuario.nombre"
            disabled
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group col-md-5">
          <label for="inputCedula">Cédula</label>
          <input
            id="inputCedula"
            type="number"
            class="form-control"
            v-model="nuevoUsuario.cedula"
            disabled
          />
        </div>
        <div class="form-group col-md-1 align-self-end">
          <button type="button" class="btn btn-success" @click="presentarModalUsuarios">...</button>
        </div>
        <div class="form-group col-md-6">
          <label for="inputCentroCosto">Centro de Costo</label>
          <select id="inputCentroCosto" class="form-control">
            <option value="0" selected disabled>Escoja un centro de costos</option>
            <option
              :key="index"
              :value="centro.idcentrocosto"
              v-for="(centro, index) in centroCostos"
              >{{ centro.centrocosto }}</option
            >
          </select>
        </div>
        <div class="form-group col-md-5">
          <label for="inpuRubro">Rubro presupuestal</label>
          <input type="text" class="form-control" id="inpuRubro" v-model="rubro" disabled />
        </div>
      </div>
      <!-- Fin del primer contenedor  -->
      <label for="titleResponsable" class="font-weight-bold">PRODUCTO</label>
      <div class="row">
        <!-- Contenedor para la informacion del producto -->
        <div class="form-group col-md-5">
          <label for="inputProducto" class="text-left">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputProducto"
            v-model="nuevoProducto.nombreproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-5">
          <label for="inputCodigo" class="text-left">Código</label>
          <input
            type="text"
            class="form-control"
            id="inputCodigo"
            v-model="nuevoProducto.idproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-2 align-self-end ">
          <button type="button" class="btn btn-success" @click="presentarModalProductos">
            ...
          </button>
          <button type="button" class="btn btn-success btn-sm m-1 p-2" @click="Agregar">
            Agregar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="inputUnidadM">Unidad de medida: </label>
          <select name="comboB" id="inputUnidadM" class="form-control">
            <option value="0" selected disabled>Escoja una unidad de medida</option>
            <option>Unidad</option>
            <option>Decena</option>
            <option>Docena</option>
          </select>
        </div>
        <div>
          <label for="inputCantidad" class="text-left">Cantidad</label>
          <input id="inputCantidad" type="number" class="form-control" v-model="cantidad" />
        </div>
      </div>
      <!-- Fin del contenedor del segundo contenedor -->
      <div class="container">
        <!-- Contenedor para la tabla -->
        <table class="table table-bordered">
          <tr class="text-center">
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">cantidad</th>
            <th scope="col">Valor Unit</th>
            <th scope="col">Importe</th>
            <th scope="col">Eliminar</th>
          </tr>
          <tr
            class="text-center"
            v-for="producto in arrayProductos"
            :key="producto.productoIdproducto"
          >
            <td v-text="producto.productoIdproducto"></td>
            <td v-text="producto.nombreproducto"></td>
            <td v-text="producto.cantidad"></td>
            <td v-text="producto.valorunit"></td>
            <td v-text="producto.importe"></td>
            <td>
              <div class="">
                <button
                  type="button"
                  class="btn btn-danger text-center"
                  @click="eliminarItem(producto)"
                >
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- Fin del tercer contenedor -->
      <div class="row justify-content-end p-3">
        <button
          type="submit"
          name="button"
          class="btn btn-secondary btn-sm m-1 p-2"
          @click="cancelar"
        >
          Cancelar
        </button>
        <button type="button" v-if="nuevo" class="btn btn-success btn-sm m-1 p-2" @click="crear">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    nuevo: {
      type: Boolean
    },
    nuevaSolicitud: {
      type: Object
    },
    nuevoItem: {
      type: Object
    },
    nuevoUsuario: {
      type: Object
    },
    nuevoProducto: {
      type: Object
    },
    centroCostos: {
      type: Array
    }
  },
  computed: {
    ...mapState({
      listaSol: state => state.solicitudes.lista
    })
  },
  created() {
    this.$store.dispatch("solicitudes/obtenerListaSolicitudes");
  },
  data() {
    return {
      error: false,
      doble: false,
      cant: 0,
      rub: 0,
      arrayProductos: [],
      productoIdproducto: 0,
      nombreproducto: "",
      cantidad: 0,
      valorunit: 0,
      importe: 0,
      rubro: 0,
      unidadMedida: ""
    };
  },
  methods: {
    presentarModalUsuarios() {
      const modal = document.getElementById("usuariosModal");
      const modalBody = modal.getElementsByClassName("modal-body");
      modalBody[0].innerHTML = ``;
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    Agregar() {
      if (
        this.nuevoProducto.idproducto !== 0 &&
        this.cantidad > 0 &&
        document.form.comboB.selectedIndex !== 0
      ) {
        const producto = {
          productoIdproducto: this.nuevoProducto.idproducto,
          nombreproducto: this.nuevoProducto.nombreproducto,
          cantidad: this.seleccionCombo(),
          valorunit: this.nuevoProducto.valorunit,
          importe: parseFloat(this.nuevoProducto.valorunit) * this.seleccionCombo(),
          rubro: this.rubros(),
          unidadMedida: this.getUnidadMedida()
        };
        if (
          this.arrayProductos.filter(
            producto => producto.productoIdproducto === this.nuevoProducto.idproducto
          ).length <= 0
        ) {
          this.arrayProductos.push(producto);
          this.rubro = this.rubros();
          this.nuevoProducto.idproducto = 0;
          this.nuevoProducto.nombreproducto = "";
          this.cantidad = 0;
          document.form.comboB.selectedIndex = 0;
        } else {
          this.doble = true;
        }
      } else {
        this.error = true;
      }
    },
    eliminarItem(producto) {
      const pos = this.arrayProductos.indexOf(producto);
      this.rubro -= this.arrayProductos[pos].importe;
      this.arrayProductos.splice(pos, 1);
    },
    seleccionCombo() {
      if (document.form.comboB.selectedIndex === 1) {
        this.cant = this.cantidad;
      }
      if (document.form.comboB.selectedIndex === 2) {
        this.cant = this.cantidad * 10;
      }
      if (document.form.comboB.selectedIndex === 3) {
        this.cant = this.cantidad * 12;
      }
      return this.cant;
    },
    getUnidadMedida() {
      if (document.form.comboB.selectedIndex === 1) {
        return "Unidad";
      }
      if (document.form.comboB.selectedIndex === 2) {
        return "Decena";
      }
      if (document.form.comboB.selectedIndex === 3) {
        return "Docena";
      }
      return "";
    },
    rubros() {
      let suma = 0;
      for (let i = 0; i < this.arrayProductos.length; i = 1 + i) {
        const element = this.arrayProductos[i].importe;
        suma += parseFloat(element);
      }
      return suma;
    },
    crear() {
      if (
        this.nuevoUsuario.nombre === "" ||
        this.nuevoUsuario.idusuario === 0 ||
        this.arrayProductos.length === 0
      ) {
        this.error = true;
      } else {
        const fecha = new Date();
        const year = fecha.getFullYear();
        const month = fecha.getMonth() + 1;
        const day = fecha.getDate();
        const sep = "-";

        this.nuevaSolicitud = {
          usuarioIdusuario: this.nuevoUsuario.idusuario,
          fecha: year + sep + month + sep + day,
          rubropresupuestal: this.rubro,
          estado: null
        };
        this.$store.dispatch("solicitudes/crearSolicitud", this.nuevaSolicitud).then(res => {
          this.presentarToast(res.mensaje);
          for (let i = 0; i < this.arrayProductos.length; i = 1 + i) {
            this.nuevoItem = {
              numsolicitud: res.solicitudCompra.numsolicitud,
              productoIdproducto: this.arrayProductos[i].productoIdproducto,
              unidadmedida: this.arrayProductos[i].unidadMedida,
              cantidad: this.arrayProductos[i].cantidad,
              valorunit: this.arrayProductos[i].valorunit
            };
            this.$store.dispatch("items/crearItem", this.nuevoItem).then(res => {
              console.log(res.mensaje);
            });
          }
        });
        this.cancelar();
      }
    },
    cancelar() {
      this.$parent.agregarSolicitud();
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastSolicitud");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    }
  }
};
</script>
<style></style>
