<template>
  <div class="w-100 max-vh-100 bg-light m-0 p-0">
    <!-- Toast -->
    <div id="toastSolicitud" style="display: none; position: relative; z-index: 2000;">
      <div class="toast" style="position: absolute; top: 0; right: 0; opacity: 1;">
        <div class="toast-header">
          <strong class="mr-auto">Solicitud de compra</strong>
          <button
            type="button"
            id="btnCerarToastSolicitud"
            @click="cerrarToast"
            class="ml-2 mb-1 close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>
    <h1 class="text-lg-left">Solicitudes enviadas</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Solicitudes enviadas<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>
    <Form v-show="form" :nuevoUsuario="nuevoUsuario" :nuevoProducto="nuevoProducto" :nuevo="nuevo" :centroCostos="listaCentroCostos" />
    <List v-show="!form" :lista="lista" />
    <!-- Modal Usuarios-->
    <div class="modal fade" id="usuariosModal">
      <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-header">
            <h5 class="modal-title">Usuarios</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="ocultarModal">&times;</span>
            </button>
          </div>
          <div class="list-group">
            <Usuario :key="usuario.id" :usuario="usuario" v-for="usuario in listaUsuario" />
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Producto-->
    <div class="modal fade" id="productosModal">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-header">
            <h5 class="modal-title">Productos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="ocultarModalProductos">&times;</span>
            </button>
          </div>
          <div class="list-group">
            <Producto :key="producto.idproducto" :producto="producto" v-for="producto in listaProductos" />
          </div>
          <div class="modal-body-name1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalProductos">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Reporte-->
    <div class="modal fade" id="reporteModal">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-body">
            <Reporte :solicitudReporte="nuevoReporte" :lista="listaItems"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalReporte">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/solicitudes/List.vue";
import Form from "@/views/solicitudes/Form.vue";
import Usuario from "@/views/solicitudes/Usuario.vue";
import Producto from "@/views/solicitudes/Producto.vue";
import Reporte from "@/views/solicitudes/Reporte.vue";

export default {
  name: "Index",
  components: {
    List,
    Form,
    Usuario,
    Producto,
    Reporte,
  },
  data() {
    return {
      form: false,
      nuevo: true,
      nuevaSolicitud: {
        numsolicitud: 0,
        usuarioIdusuario: 0,
        fecha: "",
        rubropresupuestal: 0,
        estado: null,
      },
      nuevoUsuario: {
        idusuario: 0,
        cedula: "",
        nombre: "",
        apellido: "",
        centroscostoIdcentrocosto: 0,
        correo: "",
        celular: "",
        contrasena: "",
        roleIdrol: 0,
      },
      nuevoProducto: {
        idproducto: 0,
        itemproducto: "",
        nombreproducto: "",
        valorunit: "",
      },
      nuevoItem: {
        iditems: 0,
        numsolicitud: 0,
        productoIdproducto: 0,
        unidadmedida: "",
        cantidad: 0,
        valorunit: 0,
      },
      nuevoReporte: {
        numsolicitud: 0,
        usuarioIdusuario: 0,
        fecha: "",
        rubropresupuestal: 0,
        estado: null,
      },
    };
  },
  computed: {
    ...mapState({
      listaProductos: (state) => state.productos.lista,
      lista: (state) => state.solicitudes.lista,
      listaUsuario: (state) => state.usuarios.lista,
      listaCentroCostos: (state) => state.usuarios.listaCentroCostos,
      listaItems: (state) => state.items.lista,
    }),
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("productos/obtenerListaProductos");
      this.$store.dispatch("usuarios/obtenerListaRoles");
      this.$store.dispatch("usuarios/obtenerListaCentroCostos");
      this.$store.dispatch("solicitudes/obtenerListaSolicitudes");
      this.$store.dispatch("usuarios/obtenerListaUsuarios");
      this.$store.dispatch("items/obtenerListaItems");
    },
    agregarSolicitud() {
      this.form = !this.form;
    },
    ocultarModal() {
      const modal = document.getElementById("usuariosModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    ocultarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    cerrarToast() {
      const toast = document.getElementById("toastSolicitud");
      toast.style.display = "none";
    },
    ocultarModalReporte() {
      const modal = document.getElementById("reporteModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
