<template>
  <div class="">
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
      <button type="button" class="btn btn-success float-rigth" @click="agregar">
        Agregar
      </button>
    </div>
    <thead class="table bg-info">
      <tr>
        <th width="6%" scope="col" class="text-light">Codigo</th>
        <th width="6%" scope="col" class="text-light">Responsable</th>
        <th width="6%" scope="col" class="text-light"> Fecha</th>
        <th width="6%" scope="col" class="text-light">Rubro Presupuestal</th>
        <th width="6%" scope="col" class="text-light">Estado</th>
        <th width="8%" scope="col" class="text-light">Visualizar</th>
      </tr>
    </thead>
    <div class="table bg-white table-wrapper-scroll-y my-custom-scrollbar">
        <Solicitudes :key="solicitudes.id" :solicitudes="solicitudes" v-for="solicitudes in listaFiltrada"/>
    </div>
  </div>
</template>
<script>
import Solicitudes from "@/views/solicitudes/Solicitudes.vue";

export default {
  name: "List",
  components: {
    Solicitudes,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.numsolicitud.toString().match(match) || u.fecha.toString().match(match) || u.responsable.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarSolicitud();
    },
  },
};
</script>

<style>
.my-custom-scrollbar {
position: relative;
height: 70vh;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
</style>
