<template>
  <div class="list-group-item list-group-item-action" data-spy="scroll">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ usuario.idusuario }} {{ usuario.nombre }} {{ usuario.apellido }}
          <small>{{ usuario.cedula }} {{ usuario.centrocosto }} </small>
        </h5>
      </div>
      <p class="mb-1">
        {{ usuario.correo }} <small class="text-muted">{{ usuario.celular }}</small>
      </p>
      <small class="text-muted">Centro de Costos: <span class="badge badge-warning">{{ info.centrocosto }}</span></small>
      <small class="text-muted"> Rol: <span class="badge badge-dark">{{ info.rol }}</span></small>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Seleccionar
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Usuario",
  props: {
    usuario: Object,
  },
  computed: {
    ...mapState({
      listaRoles: (state) => state.usuarios.listaRoles,
      listaCentroCostos: (state) => state.usuarios.listaCentroCostos,

    }),
    info() {
      const roles = this.listaRoles.filter((r) => r.idrol === this.usuario.roleIdrol);
      const centroCosto = this.listaCentroCostos.filter((c) => c.idcentrocosto === this.usuario.centroscostoIdcentrocosto);
      return {
        rol: roles[0].rol,
        centrocosto: centroCosto[0].centrocosto,
      };
    },
  },
  methods: {
    mostrarForm() {
      this.$parent.ocultarModal();
      this.$parent.nuevoUsuario = { ...this.usuario };
    },
  },
};
</script>
<style></style>
