<template>
  <div class="w-100">
    <h1 class="text-lg-left">Inventario</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inventario<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>
    <List v-show="!form" :lista="lista" />
    <!-- Modal Producto-->
    <div class="modal fade" id="productosModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-header">
            <h5 class="modal-title">Productos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="ocultarModalProductos">&times;</span>
            </button>
          </div>
          <div class="list-group">
            <Producto :key="producto.idproducto" :producto="producto" v-for="producto in listaProductos" />
          </div>
          <div class="modal-body-name1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalProductos">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Reporte-->
    <div class="modal fade" id="reporteModal">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-body">
            <Reporte :solicitudReporte="nuevoReporte" :lista="listaItemsSalida"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalReporte">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/inventario/List.vue";
import Reporte from "@/views/salidasAlmacen/Reporte.vue";
import Producto from "@/views/salidasAlmacen/Producto.vue";

export default {
  name: "Index",
  components: {
    List,
    Reporte,
    Producto,
  },
  data() {
    return {
      form: false,
      nuevo: true,
      nuevaSalida: {
        numsalida: null,
        empleadoresp: "",
        fechasalida: "",
        fechaentrada: "",
        area: "",
      },
      nuevoReporte: {
        numsalida: null,
        empleadoresp: "",
        fechasalida: "",
        fechaentrada: "",
        area: "",
      },
      nuevoProducto: {
        idproducto: 0,
        nombreproducto: "",
        cantidad: 0,
      },
      nuevoItemSalida: {
        iditems: 0,
        productosrecibidoIdproducto: 0,
        salidasalmacenNumsalida: 0,
        cantidad: 0,
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.salidasAlmacen.lista,
      listaCentroCostos: (state) => state.centroCostos.lista,
      listaProductos: (state) => state.productos.lista,
      listaItemsSalida: (state) => state.itemsSalida.lista,
    }),
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("salidasAlmacen/obtenerListaSalidaAlmacen");
      this.$store.dispatch("productos/obtenerListaProductos");
      this.$store.dispatch("centroCostos/obtenerListaCentroCosto");
      this.$store.dispatch("itemsSalida/obtenerListaItemSalida");
    },
    agregarSalidaAlmacen() {
      this.form = !this.form;
    },
    ocultarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    ocultarModalReporte() {
      const modal = document.getElementById("reporteModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>

<style></style>
