<template>
  <div id="listaSalidasAlmacen">
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
      <button type="button" class="btn btn-success float-rigth" @click="agregar">
        Agregar
      </button>
    </div>
    <thead class="table bg-info">
      <tr>
        <th width="5%" scope="col" class="text-light">Número</th>
        <th width="12%" scope="col" class="text-light">Responsable</th>
        <th width="10%" scope="col" class="text-light">Fecha de salida</th>
        <th width="7%" scope="col" class="text-light">Área</th>
        <th width="7%" scope="col" class="text-light">Visualizar</th>
      </tr>
    </thead>
    <div class="table">
      <SalidaAlmacen :key="salidaAlmacen.numsalida" :salidaAlmacen="salidaAlmacen" v-for="salidaAlmacen in listaFiltrada" />
    </div>
  </div>
</template>
<script>
/* import { mapState, mapGetters } from "vuex"; */
import SalidaAlmacen from "@/views/inventario/SalidaAlmacen.vue";

export default {
  name: "List",
  components: {
    SalidaAlmacen,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.numsalida.toString().match(match) || u.empleadoresp.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarSalidaAlmacen();
    },
  },
};
</script>

<style></style>
