<template>
  <div>
    <table class="table">
      <tbody>
        <tr>
          <th width="5%" scope="row">{{ salidaAlmacen.numsalida }}</th>
          <td width="12%">{{ salidaAlmacen.empleadoresp }}</td>
          <td width="10%">{{ salidaAlmacen.fechasalida}}</td>
          <td width="7%">{{ salidaAlmacen.area }}</td>
          <td width="7%">
            <button class="btn btn-info" type="button" @click="presentarModalReporte">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--  <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Editar
      </button>
      <button type="button" class="btn btn-outline-danger btn-block" @click="presentarModal">
        Eliminar
      </button>
    </div>-->
  </div>
</template>
C
<script>
export default {
  name: "SalidaAlmacen",
  props: {
    salidaAlmacen: Object,
  },
  methods: {
    mostrarForm() {
      this.$parent.$parent.agregarSalidaAlmacen();
      this.$parent.$parent.nuevo = false;
      this.$parent.$parent.nuevoSalidaAlmacen = { ...this.salidaAlmacen };
    },
    presentarModal() {
      const modal = document.getElementById("salidaAlmacenModal");
      const modalBody = modal.getElementsByClassName("modal-body");
      modalBody[0].innerHTML = `Estas seguro de eliminar la salida de almacén: <strong class='text-danger'>${this.salidaAlmacen.numsalida}</strong>`;
      const btnEliminarModal = document.getElementById("btnEliminarSalidaAlmacen");
      btnEliminarModal.addEventListener("click", this.eliminar);
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastSalidaAlmacen");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    eliminar() {
      this.$store
        .dispatch("salidasAlmacen/eliminarSalidaAlmacen", this.salidaAlmacen)
        .then((res) => this.presentarToast(res.mensaje));
      const modal = document.getElementById("salidaAlmacenModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    presentarModalReporte() {
      this.$parent.$parent.nuevoReporte = { ...this.salidaAlmacen };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
  },
};
</script>
<style></style>
