<template>
  <div class="home bg-info">
    <img alt="Educando SA." src="../components/iconos/LogoGrande.png">
    <HelloWorld msg="Bienvenido a Educando-sa"/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Educando S.A. &copy;</p>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'Home',
  components: {
    HelloWorld,
  },
};
</script>
