<template>
  <div class="entradas">
    <table class="table">
      <tbody>
        <tr>
          <th width="5%" scope="row">{{ entradas.numentrada }}</th>
          <td width="12%">{{ entradas.nombreproveedor }}</td>
          <td width="10%">{{ entradas.numfactura }}</td>
          <td width="7%">{{ entradas.fecha }}</td>
          <td width="7%">{{ entradas.totalbienes }}</td>
          <td width="7%">
            <button class="btn btn-info" type="button" @click="presentarModalReporte">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Entradas",
  props: {
    entradas: Object,
  },
  methods: {
    presentarModalReporte() {
      this.$parent.$parent.nuevoReporte = { ...this.entradas };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
  },
};
</script>
<style>
</style>
