<template>
  <div
    class="w-75 m-auto shadow p-3 mb-5 bg-white rounded"
    data-spy="scroll"
    data-target=".navbar"
    data-offset="50"
  >
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="doble" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Producto repetido
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="doble = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="numfactura" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Factura repetida
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="numfactura = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1 class="">Entrada de almacén</h1>
    <form class="text-left p-3">
      <label for="titleResponsable" class="font-weight-bold">PROVEEDOR</label>
      <div class="form-row">
        <!-- Contenedor para la informacion del usuario -->
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <!--<input type="text" class="form-control" id="inputNombre"/>-->
          <input
            type="text"
            class="form-control"
            id="inputProveedor"
            v-model="nuevoProveedor.nombreproveedor"
            disabled
          />
        </div>
        <div class="form-group col-md-5">
          <label for="inputNit">Nit</label>
          <input id="inputNit" class="form-control" v-model="nuevoProveedor.nit" disabled />
        </div>
        <div class="form-group col-md-1 align-self-end">
          <button type="button" class="btn btn-success" @click="presentarModalProveedores">
            ...
          </button>
        </div>
      </div>
      <label for="titleResponsable" class="font-weight-bold">ENTRADA</label>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputFact" class="text-left"># Factura</label>
          <input type="number" class="form-control" id="inputFact" v-model="factura" />
        </div>
      </div>
      <label for="titleResponsable" class="font-weight-bold">PRODUCTO</label>
      <div class="row">
        <!-- Contenedor para la informacion del producto -->
        <div class="form-group col-md-5">
          <label for="inputNombre" class="text-left">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputNombre"
            v-model="nuevoProducto.nombreproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-5">
          <label for="inputCodigo" class="text-left">Código</label>
          <input
            type="text"
            class="form-control"
            id="inputCodigo"
            v-model="nuevoProducto.idproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-2 align-self-end ">
          <button type="button" class="btn btn-success" @click="presentarModalProductos">
            ...
          </button>
          <button type="button" class="btn btn-success btn-sm m-1" @click="agregar">Agregar</button>
        </div>
        <div class="form-group col-md-2">
          <label for="inputCantidad" class="text-left">Cantidad</label>
          <input id="inputCantidad" type="number" class="form-control" v-model="cantidad" />
          <small style="color: red" v-if="cantMenor">* Cantidad inválida</small>
        </div>
      </div>
      <!-- Fin del contenedor del segundo contenedor -->
      <div>
        <!-- Contenedor para la tabla -->
        <table class="table table-bordered">
          <tr class="text-center">
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Eliminar</th>
          </tr>
          <tr
            class="text-center"
            v-for="producto in arrayProductos"
            :key="producto.productoIdproducto"
          >
            <td v-text="producto.idproducto"></td>
            <td v-text="producto.nombreproducto"></td>
            <td v-text="producto.cantidad"></td>
            <td>
              <div class="">
                <button
                  type="button"
                  class="btn btn-danger text-center"
                  @click="eliminarItem(producto)"
                >
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- Fin del tercer contenedor -->
      <div class="row justify-content-start">
        <div class="form-row col-md-10">
          <label for="inputCantidad" class="text-left col-md-2 font-weight-bold"
            >Total de bienes</label
          >
          <input
            type="number"
            class="form-control col-md-2"
            id="total"
            v-model="totalbienes"
            disabled
          />
        </div>
        <div class="p-2">
          <button
            type="submit"
            name="button"
            class="btn btn-secondary btn-sm m-1 p-2"
            @click="cancelar"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-success btn-sm m-1 p-2" @click="crear">
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      error: false,
      doble: false,
      stock: false,
      cantMenor: false,
      numfactura: false,
      factura: 0,
      totalbienes: 0,
      arrayProductos: [],
      idproducto: 0,
      nombreproducto: "",
      cantidad: 0
    };
  },
  computed: {
    ...mapState({
      listaEntrada: state => state.entradas.lista
    })
  },
  props: {
    nuevoProveedor: {
      type: Object
    },
    nuevoProducto: {
      type: Object
    },
    nuevaEntrada: {
      type: Object
    },
    nuevoItemsRecibidos: {
      type: Object
    }
  },
  methods: {
    agregar() {
      if (this.nuevoProducto.idproducto !== 0 && this.cantidad > 0) {
        this.cantMenor = false;
        const producto = {
          idproducto: this.nuevoProducto.idproducto,
          nombreproducto: this.nuevoProducto.nombreproducto,
          cantidad: this.cantidad
        };
        if (
          this.arrayProductos.filter(
            producto => producto.idproducto === this.nuevoProducto.idproducto
          ).length <= 0
        ) {
          this.arrayProductos.push(producto);
          this.nuevoProducto.idproducto = 0;
          this.nuevoProducto.nombreproducto = "";
          this.cantidad = 0;
          this.totalbienes = this.totaBienes();
        } else {
          this.doble = true;
        }
      } else {
        if (this.cantidad <= 0) {
          this.cantMenor = true;
        } else {
          this.cantMenor = false;
        }
        this.error = true;
      }
    },
    crear() {
      if (
        this.nuevoProveedor.nombreproveedor === "" ||
        this.nuevoProveedor.nit == "" ||
        this.arrayProductos.length == ""
      ) {
        this.error = true;
      } else {
        if (
          this.listaEntrada.filter(entrada => entrada.numfactura.toString().match(this.factura))
            .length != 1
        ) {
          const fecha = new Date();
          const year = fecha.getFullYear();
          const month = fecha.getMonth() + 1;
          const day = fecha.getDate();
          const sep = "-";
          this.nuevaEntrada = {
            fecha: year + sep + month + sep + day,
            numfactura: this.factura,
            proveedoreNit: this.nuevoProveedor.nit,
            totalbienes: this.totalbienes
          };
          this.$store.dispatch("entradas/crearEntradasAlmacen", this.nuevaEntrada).then(res => {
            for (let i = 0; i < this.arrayProductos.length; i = 1 + i) {
              this.nuevoItemsRecibidos = {
                productosrecibidoIdproducto: this.arrayProductos[i].idproducto,
                entradasalmacenNumentrada: res.entradaAlmacen.numentrada,
                cantidad: this.arrayProductos[i].cantidad
              };
              this.$store
                .dispatch("itemsRecibidos/crearItemRecibido", this.nuevoItemsRecibidos)
                .then(res => {
                  console.log(res.mensaje);
                });
            }
          });
          this.cancelar();
        } else {
          this.numfactura = true;
        }
      }
    },
    totaBienes() {
      let totalb = 0;
      for (let i = 0; i < this.arrayProductos.length; i = 1 + i) {
        const element = this.arrayProductos[i].cantidad;
        totalb += parseFloat(element);
      }
      return totalb;
    },
    presentarModalProveedores() {
      const modal = document.getElementById("proveedoresModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    eliminarItem(producto) {
      const pos = this.arrayProductos.indexOf(producto);
      this.montoTotal -= this.arrayProductos[pos].total;
      this.arrayProductos.splice(pos, 1);
      this.totalbienes = this.totaBienes();
    },
    cancelar() {
      this.$parent.agregarEntrada();
    }
  }
};
</script>

<style></style>
