<template>
  <div class="w-100">
    <h1 class="text-lg-left">Entradas de almacén</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Entradas de almacén<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>
    <Form v-show="form" :nuevaEntrada="nuevaEntrada" :nuevoProducto="nuevoProducto" :nuevoProveedor="nuevoProveedor"  :nuevo="nuevo" />
    <List v-show="!form" :lista="lista" />
    <!-- Modal Proveedor-->
    <div class="modal fade" id="proveedoresModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-header">
            <h5 class="modal-title">Proveedores</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="ocultarModalProveedores">&times;</span>
            </button>
          </div>
          <div class="list-group">
            <Proveedor :key="proveedor.nit" :proveedor="proveedor" v-for="proveedor in listaProveedores" />
          </div>
          <div class="modal-body-name1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalProveedores">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Producto-->
    <div class="modal fade" id="productosModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-header">
            <h5 class="modal-title">Productos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="ocultarModalProductos">&times;</span>
            </button>
          </div>
          <div class="list-group">
            <Producto :key="producto.idproducto" :producto="producto" v-for="producto in listaProductos" />
          </div>
          <div class="modal-body-name1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalProductos">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Reporte-->
    <div class="modal fade" id="reporteModal">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-body">
            <Reporte :solicitudReporte="nuevoReporte" :lista="listaItemsRecibidos"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalReporte">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/entradas/List.vue";
import Form from "@/views/entradas/Form.vue";
import Reporte from "@/views/entradas/Reporte.vue";
import Proveedor from "@/views/entradas/Proveedor.vue";
import Producto from "@/views/entradas/Producto.vue";

export default {
  name: "Index",
  components: {
    List,
    Form,
    Reporte,
    Proveedor,
    Producto,
  },
  data() {
    return {
      form: false,
      nuevo: true,
      nuevoReporte: {
        numentrada: 0,
        fecha: "",
        numfactura: 0,
        proveedoreNit: 0,
        totalbienes: 0,
      },
      nuevoProveedor: {
        nit: 0,
        nombreproveedor: "",
        direccionprov: "",
        telefono: "",
      },
      nuevaEntrada: {
        numentrada: 0,
        fecha: "",
        numfactura: 0,
        proveedoreNit: 0,
        totalbienes: 0,
      },
      nuevoProducto: {
        idproducto: 0,
        itemproducto: "",
        nombreproducto: "",
        valorunit: "",
      },
      nuevoItemsRecibidos: {
        iditeme: 0,
        productosrecibidoIdproducto: 0,
        entradasalmacenNumentrada: 0,
        cantidad: 0,
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.entradas.lista,
      listaItemsRecibidos: (state) => state.itemsRecibidos.lista,

      listaProveedores: (state) => state.proveedores.lista,
      listaProductos: (state) => state.productos.lista,
    }),
  },
  created() {
    this.$store.dispatch("entradas/obtenerListaEntradas");
    this.$store.dispatch("itemsRecibidos/obtenerListaItemRecibido");
    this.$store.dispatch("productos/obtenerListaProductos");
    this.$store.dispatch("proveedores/obtenerListaProveedores");
  },
  methods: {
    agregarEntrada() {
      this.form = !this.form;
    },
    ocultarModalReporte() {
      const modal = document.getElementById("reporteModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    ocultarModalProveedores() {
      const modal = document.getElementById("proveedoresModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    ocultarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
