<template>
  <div>
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
      <button type="button" class="btn btn-success float-rigth" @click="agregar">
        Agregar
      </button>
    </div>
    <thead class="table bg-info">
      <tr>
        <th width="5%" scope="col" class="text-light">ID</th>
        <th width="12%" scope="col" class="text-light">Proveedor</th>
        <th width="10%" scope="col" class="text-light">Factura</th>
        <th width="7%" scope="col" class="text-light">Fecha</th>
        <th width="7%" scope="col" class="text-light">Total de bienes</th>
        <th width="7%" scope="col" class="text-light">Visualizar</th>
      </tr>
    </thead>
    <div class="table">
      <template >
        <Entradas :key="entradas.id" :entradas="entradas" v-for="entradas in listaFiltrada"/>
      </template>
    </div>
  </div>
</template>
<script>
import Entradas from "@/views/entradas/Entradas.vue";

export default {
  name: "List",
  components: {
    Entradas,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.numentrada.toString().match(match) || u.fecha.toString().match(match) || u.nombreproveedor.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarEntrada();
    },
  },
};
</script>

<style>
</style>
