<template>
  <div class="list-group-item list-group-item-action">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ producto.idproducto }})   {{ producto.nombreproducto }}
        </h5>
      </div>
      <div class="badge badge-dark">
      Stock: {{ producto.cantidad }}
      </div>
      <div>
        <small class="badge badge-success">{{ producto.valorunit }}</small>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Seleccionar
      </button>
    </div>
  </div>
</template>

<script>

export default {
  name: "Producto",
  props: {
    producto: Object,
  },
  methods: {
    mostrarForm() {
      this.$parent.ocultarModalProductos();
      this.$parent.nuevoProducto = { ...this.producto };
    },
  },
};
</script>
<style></style>
