<template>
  <div class="list-group-item list-group-item-action">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ proveedor.nit }})   {{ proveedor.nombreproveedor }}
        </h5>
      </div>
      <div class="badge badge-dark">
      {{ proveedor.direccionprov }}
      </div>
      <div>
        <small class="badge badge-success">{{ proveedor.telefono }}</small>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Seleccionar
      </button>
    </div>
  </div>
</template>

<script>

export default {
  name: "Proveedor",
  props: {
    proveedor: Object,
  },
  methods: {
    mostrarForm() {
      this.$parent.ocultarModalProveedores();
      this.$parent.nuevoProveedor = { ...this.proveedor };
    },
  },
};
</script>
<style></style>
