<template>
  <div>
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
    </div>
    <thead class="table bg-info">
      <tr>
        <th width="5%" scope="col" class="text-light">ID</th>
        <th width="12%" scope="col" class="text-light">Proveedor</th>
        <th width="10%" scope="col" class="text-light">Fecha de Orden</th>
        <th width="7%" scope="col" class="text-light">Fecha de Entrega</th>
        <th width="7%" scope="col" class="text-light">Visualizar</th>
      </tr>
    </thead>
    <div class="table">
        <OrdenesAceptadas :key="ordenAcep.id" :ordenAcep="ordenAcep" v-for="ordenAcep in listaFiltrada"/>
    </div>
  </div>
</template>
<script>
import OrdenesAceptadas from "@/views/ordenes/ordenesAceptadas/OrdenesAceptadas.vue";

export default {
  name: "List",
  components: {
    OrdenesAceptadas,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.numorden.toString().match(match) || u.fechaorden.toString().match(match)));
    },
  },
};
</script>

<style>
</style>
