<template>
  <div id="header">
    <nav class="navbar navbar-inverse fixed-top bg-info">
      <div class="navbar-header">
        <a @click="toggleMenu" class="d-inline d-md-none text-light"
          ><svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-list"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            /></svg
        ></a>

        <a class="navbar-brand" href="#">
          <img
            alt="logo"
            src="./iconos/Logo.png"
            style="max-height: 60px"
          />
        </a>
      </div>
      <ul class="nav navbar-right top-nav">
        <li class="dropdown">
          <a @click="toggleProfile()" class="dropdown-toggle text-light"
            ><svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-person-circle"
              style="margin: -3px 5px 0 0"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
              />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path
                fill-rule="evenodd"
                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
              /></svg
            ><b class="fa fa-angle-down"></b
          ></a>
          <ul
            id="profile-dropdown-menu"
            class="dropdown-menu dropdown-menu-right"
            @click.self.prevent="hideProfile()"
          >
            <li class="divider"></li>
            <li>
              <a href="/"><i class="fa fa-fw fa-power-off" ></i>Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Header",
  computed: {
    ...mapState({
      lista: (state) => state.usuarios.lista,
    }),
    info() {
      const nom = this.lista.filter((r) => r.correo === this.usuario.correo);
      return {
        nombre: nom[0].nombre,
      };
    },
  },
  mounted() {
    if (JSON.parse(localStorage.getItem("usuario"))) {
      this.usuario = JSON.parse(localStorage.getItem("usuario"));
    }
  },
  created() {
    this.cargarLista();
  },
  data() {
    return {
      menu: false,
      sidebarMenu: false,
      usuario: {
        correo: "",
        contrasena: "",
      },
    };
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("usuarios/obtenerListaUsuarios");
    },
    toggleProfile() {
      this.menu = !this.menu;
      this.hideProfile();
      if (this.menu) this.showProfile();
    },
    showProfile() {
      const profile = document.querySelector("#profile-dropdown-menu");
      profile.style.display = "block";
    },
    hideProfile() {
      const profile = document.querySelector("#profile-dropdown-menu");
      profile.style.display = "none";
    },
    toggleMenu() {
      const menu = document.querySelector("#sidebarMenu");
      menu.style.display = "none";
      this.sidebarMenu = !this.sidebarMenu;
      if (this.sidebarMenu) menu.style.display = "block";
      this.$parent.show = !this.$parent.show;
    },
  },
};
</script>

<style></style>
