<template>
  <div class="w-25 m-auto shadow p-3 mb-5 bg-white rounded">
    <div>
      <h1>Educando S.A.</h1>
      <br />
    </div>
    <div>
      <div class="form-group">
        <label for="inputUsuario">Correo Electrónico</label>
        <input id="inputUsuario" type="email" class="form-control" v-model="usuario.correo" />
      </div>
      <div class="form-group">
        <label for="inputPassword">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          v-on:keyup.enter="verificarUsuario"
          v-model="usuario.contrasena"
        />
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-info btn-lg btn-block"
          @click="verificarUsuario"
        >
          Iniciar Sesión
        </button>
      </div>
    </div>
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Por favor!</strong>  Rellene los campos vacíos
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="pass" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong>  Contraseña inválida
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="pass = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  data() {
    return {
      pass: false,
      error: false,
      msm: "",
      usuario: {
        correo: "",
        contrasena: "",
      },
    };
  },
  methods: {
    verificarUsuario() {
      this.$store.dispatch("usuarios/login", this.usuario).then((res) => {
        if (res.msg === 'Autenticación satisfactoria') {
          localStorage.setItem("usuario", JSON.stringify(this.usuario));
          this.$router.push({ name: 'Dashboard' });
        }
        if (this.usuario.correo === "" || this.usuario.contrasena === "") {
          this.error = true;
        }
      }).catch(() => {
        this.pass = true;
      });
    },
  },
};
</script>

<style scoped lang="scss">
</style>
