<template>
  <div id="menu" class="col-md-3 col-lg-2 d-md-block min-vh-100 bg-dark p-0">
    <nav id="sidebarMenu" class="d-md-block bg-dark sidebar collapse w-100 min-vh-100">
      <div id="profile-dropdown-menu" class="sidebar-sticky pt-3 min-vh-100">
        <ul class="nav flex-column ml-sm-2">
          <li class="nav-item pt-1 fas fa-users">
            <a id="botonProductos" class="nav-link text-light" href="/entradasalmacen">
              <svg width="28" height="28" viewBox="0 0 16 18" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
              Entradas de almacén
            </a>
          </li>
          <li class="nav-item pt-1 fas fa-users">
            <a id="botonSalidasAlmacen" class="nav-link text-light" href="/salidaAlmacen">
              <svg width="28" height="28" viewBox="0 0 16 18" class="bi bi-chevron-double-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
              </svg>
              Salidas Almacen
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "MenuAlmacen",
  data() {
    return {
      sidebarMenu: false,
    };
  },
};
</script>

<style></style>
