<template>
  <div id="menu" class="col-md-3 col-lg-2 d-md-block min-vh-100 bg-dark p-0">
    <nav id="sidebarMenu" class="d-md-block bg-dark sidebar collapse w-100 min-vh-100">
      <div id="profile-dropdown-menu" class="sidebar-sticky pt-3 min-vh-100">
        <ul class="nav flex-column ml-sm-2">
          <li class="nav-item pt-1 fas fa-users">
            <a id="botonAceptados" class="nav-link text-light" href="/ordenescontractualesev">
              <svg
                width="28"
                height="28"
                viewBox="0 0 16 18"
                class="bi bi-file-earmark-bar-graph"
                stroke-width="2"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"
                />
                <path
                  d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3zm-5 11a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1z"
                />
              </svg>
              Ordenes Contractuales
            </a>
          </li>
          <li class="nav-item pt-1 fas fa-users">
            <a
              id="botonAceptados"
              class="nav-link text-light"
              href="/ordenescontractualesaceptadas"
            >
              <svg
                width="28"
                height="28"
                viewBox="0 0 16 18"
                class="bi bi-file-earmark-check"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"
                />
                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                <path
                  fill-rule="evenodd"
                  d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                />
              </svg>
              Ordenes Aceptadas
            </a>
          </li>
          <li class="nav-item pt-1 fas fa-users">
            <a
              id="botonAceptados"
              class="nav-link text-light"
              href="/ordenescontractualesrechazadas"
            >
              <svg
                width="28"
                height="28"
                viewBox="0 0 16 18"
                class="bi bi-file-earmark-x"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"
                />
                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                <path
                  fill-rule="evenodd"
                  d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"
                />
              </svg>
              Ordenes Rechazadas
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "MenuDirector",
  data() {
    return {
      sidebarMenu: false
    };
  }
};
</script>

<style></style>
