<template>
  <div id="menu" class="col-md-3 col-lg-2 d-md-block min-vh-100 bg-dark p-0">
    <nav id="sidebarMenu" class="d-md-block bg-dark sidebar collapse w-100 min-vh-100">
      <div id="profile-dropdown-menu" class="sidebar-sticky pt-3 min-vh-100">
        <ul class="nav flex-column ml-sm-2">
          <li class="nav-item pt-1 fas fa-users">
            <a id="botonSalidasAlmacen" class="nav-link text-light" href="/inventario">
              <svg width="28" height="28" viewBox="0 0 16 18" class="bi bi-chevron-double-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
              </svg>
              Inventario
            </a>
          </li>
          <li class="nav-item pt-1 fas fa-users">
            <a id="botonCentroCostos" class="nav-link  text-light" href="/kardex">
              <svg width="28" height="28" viewBox="0 0 16 18" class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
              </svg>
              Kardex
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "MenuInventario",
  data() {
    return {
      sidebarMenu: false,
    };
  },
};
</script>

<style></style>
