<template>
  <div class="list-group-item list-group-item-action">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ centrocosto.idcentrocosto }}) {{ centrocosto.centrocosto }}
        </h5>
      </div>
      <p  class="badge badge-secondary">{{ centrocosto.descripcion }}</p>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Editar
      </button>
      <button type="button" class="btn btn-outline-danger btn-block" @click="presentarModal">
        Eliminar
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "CentroCostos",
  props: {
    centrocosto: Object,
  },
  methods: {
    mostrarForm() {
      this.$parent.$parent.agregarCentroCosto();
      this.$parent.$parent.nuevo = false;
      this.$parent.$parent.nuevoCentroCosto = { ...this.centrocosto };
    },
    presentarModal() {
      const modal = document.getElementById("centroCostoModal");
      const modalBody = modal.getElementsByClassName("modal-body");
      modalBody[0].innerHTML = `Estas seguro de eliminar el centro de costo: <strong class='text-danger'>${this.centrocosto.centrocosto}</strong>`;
      const btnEliminarModal = document.getElementById("btnEliminarCentroCosto");
      btnEliminarModal.addEventListener("click", this.eliminar);
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastCentroCosto");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    eliminar() {
      this.$store
        .dispatch("centroCostos/eliminarCentroCosto", this.centrocosto)
        .then((res) => this.presentarToast(res.mensaje));
      const modal = document.getElementById("centroCostoModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
