<template>
  <div id="formSalidaAlmacen" class="mb-3 w-75 m-auto shadow p-3 rounded" data-spy="scroll">
    <div v-if="vacio" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="vacio = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="dobleCentro" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Centro de costo repetido
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="dobleCentro = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3 class="py-3 m-0 font-weight-bold">Crear Centro de Costo</h3>
    <form class="py-4 border-top text-left needs-validation">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputNombre">Centro de costo</label>
          <input
            type="text"
            class="form-control"
            id="inputCentro"
            v-model="nuevoCentroCosto.centrocosto"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputNombre">Descripción</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            v-model="nuevoCentroCosto.descripcion"
          ></textarea>
        </div>
      </div>
      <div class="row justify-content-between p-3">
        <button type="button" class="btn btn-secondary float-left" @click="cancelar">
          Cancelar
        </button>
        <button type="button" v-if="nuevo" class="btn btn-success float-right" @click="crear">
          Guardar
        </button>
        <button type="button" v-else class="btn btn-primary float-right" @click="editar">
          Editar
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      vacio: false,
      dobleCentro: false
    };
  },
  computed: {
    ...mapState({
      listaCentroCosto: state => state.centroCostos.lista
    })
  },
  props: {
    nuevo: {
      type: Boolean
    },
    nuevoCentroCosto: {
      type: Object
    }
  },
  methods: {
    presentarToast(msg) {
      const toast = document.getElementById("toastCentroCosto");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    crear() {
      if (this.nuevoCentroCosto.centrocosto === "" || this.nuevoCentroCosto.descripcion === "") {
        this.vacio = true;
      } else {
        if (
          this.listaCentroCosto.filter(
            centrocosto => centrocosto.centrocosto === this.nuevoCentroCosto.centrocosto
          ).length <= 0
        ) {
          this.$store.dispatch("centroCostos/crearCentroCosto", this.nuevoCentroCosto).then(res => {
            this.presentarToast(res.mensaje);
          });
          this.cancelar();
        } else {
          this.dobleCentro = true;
        }
      }
    },
    editar() {
      console.log("Editando centro de costo", this.nuevoCentroCosto);
      this.$store.dispatch("centroCostos/editarCentroCosto", this.nuevoCentroCosto).then(res => {
        this.presentarToast(res.mensaje);
        this.$parent.cargarLista();
        this.$parent.nuevo = true;
        this.$parent.nuevoCentroCosto = {
          idcentrocosto: "null",
          centrocosto: "",
          descripcion: ""
        };
      });
      this.cancelar();
    },
    cancelar() {
      this.$parent.agregarCentroCosto();
    }
  }
};
</script>

<style></style>
