<template>
  <div id="listaCentroCostos">
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
      <button type="button" class="btn btn-success float-rigth" @click="agregar">
        Agregar
      </button>
    </div>
    <div class="list-group">
      <CentroCostos :key="centrocosto.idcentrocosto" :centrocosto="centrocosto" v-for="centrocosto in listaFiltrada" />
    </div>
  </div>
</template>
<script>
/* import { mapState, mapGetters } from "vuex"; */
import CentroCostos from "@/views/centroCostos/CentroCostos.vue";

export default {
  name: "List",
  components: {
    CentroCostos,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.centrocosto.toUpperCase().match(match) || u.descripcion.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarCentroCosto();
    },
  },
};
</script>

<style></style>
