<template>
  <div id="formSalidaAlmacen" class="mb-3 w-75 m-auto shadow p-3 rounded" data-spy="scroll">
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete o revise los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="doble" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Producto repetido
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="doble = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3 class="py-3 m-0 font-weight-bold">Crear Salida de Almacén</h3>
    <form name="form" class="py-4 border-top text-left needs-validation">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Responsable</label>
          <input type="text" class="form-control" id="inputNombre" v-model="responsable" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputCentroCosto">Área</label>
          <select
            name="comboB"
            id="inputCentroCosto"
            class="form-control"
            v-model="nuevaSalida.area"
          >
            <option value="0" selected disabled>Escoja una área</option>
            <option
              :key="index"
              :value="centro.centrocosto"
              v-for="(centro, index) in centroCostos"
              >{{ centro.centrocosto }}</option
            >
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fechaE">Fecha de entrada</label>
          <input type="date" class="form-control" id="fechaE" v-model="fechaE" required />
        </div>
        <div class="form-group col-md-6">
          <label for="fechaS">Fecha de salida</label>
          <input type="date" class="form-control" id="fechaS" v-model="fechaS" required />
        </div>
      </div>
      <label for="titleResponsable" class="font-weight-bold">PRODUCTO</label>
      <div class="row">
        <!-- Contenedor para la informacion del producto -->
        <div class="form-group col-md-5">
          <label for="inputProducto" class="text-left">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputProducto"
            v-model="nuevoProducto.nombreproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-5">
          <label for="inputCodigo" class="text-left">Código</label>
          <input
            type="text"
            class="form-control"
            id="inputCodigo"
            v-model="nuevoProducto.idproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-2 align-self-end ">
          <button type="button" class="btn btn-success" @click="presentarModalProductos">
            ...
          </button>
          <button type="button" class="btn btn-success btn-sm m-1 p-2" @click="agregar">
            Agregar
          </button>
        </div>
        <div class="col-md-2 m-2">
          <label for="inputCantidad" class="text-left">Cantidad</label>
          <input id="inputCantidad" type="number" class="form-control" v-model="cantidad" />
          <small style="color: red" v-if="cant">* Cantidad inválida</small>
        </div>
      </div>
      <div>
        <div v-if="stock" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>¡Advertencia!</strong> la cantidad solicitada supera la cantidad de stock
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            @click="stock = false"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Contenedor para la tabla -->
        <table class="table table-bordered">
          <tr class="text-center">
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Eliminar</th>
          </tr>

          <tr
            class="text-center"
            v-for="producto in arrayProductos"
            :key="producto.productoIdproducto"
          >
            <td v-text="producto.idproducto"></td>
            <td v-text="producto.nombreproducto"></td>
            <td v-text="producto.cantidad"></td>
            <td>
              <div class="">
                <button
                  type="button"
                  class="btn btn-danger text-center"
                  @click="eliminarItem(producto)"
                >
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-end">
        <div class="p-2">
          <button
            type="submit"
            name="button"
            class="btn btn-secondary btn-sm m-1 p-2"
            @click="cancelar"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-success btn-sm m-1 p-2" @click="crear">
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      arrayProductos: [],
      error: false,
      doble: false,
      stock: false,
      cant: false,
      responsable: "",
      fechaE: "",
      fechaS: "",
      idproducto: 0,
      nombreproducto: "",
      cantidad: 0
    };
  },
  props: {
    nuevoProducto: {
      type: Object
    },
    nuevaSalida: {
      type: Object
    },
    nuevoItemSalida: {
      type: Object
    },
    centroCostos: {
      type: Array
    }
  },
  computed: {
    ...mapState({
      listaProductos: state => state.productos.lista
    })
  },
  created() {
    this.$store.dispatch("productos/obtenerListaProductos");
  },
  methods: {
    agregar() {
      if (this.nuevoProducto.idproducto !== 0 && this.cantidad > 0) {
        this.cant = false;
        const producto = {
          idproducto: this.nuevoProducto.idproducto,
          nombreproducto: this.nuevoProducto.nombreproducto,
          cantidad: this.cantidad
        };
        if (
          this.arrayProductos.filter(
            producto => producto.idproducto === this.nuevoProducto.idproducto
          ).length <= 0
        ) {
          if (this.cantidad <= this.obtenerProducto(this.nuevoProducto.idproducto).cantidad) {
            this.arrayProductos.push(producto);
            this.nuevoProducto.idproducto = 0;
            this.nuevoProducto.nombreproducto = "";
            this.cantidad = 0;
          } else {
            this.stock = true;
          }
        } else {
          this.doble = true;
        }
      } else {
        if (this.cantidad <= 0) {
          this.cant = true;
        } else {
          this.error = true;
        }
      }
    },
    crear() {
      this.nuevaSalida = {
        empleadoresp: this.responsable,
        fechasalida: this.fechaS,
        fechaentrada: this.fechaE,
        area: this.nuevaSalida.area
      };
      if (
        this.nuevaSalida.empleadoresp === "" ||
        this.arrayProductos.length === 0 ||
        this.nuevaSalida.area === ""
      ) {
        this.error = true;
      } else {
        this.$store.dispatch("salidasAlmacen/crearSalidaAlmacen", this.nuevaSalida).then(res => {
          for (let i = 0; i < this.arrayProductos.length; i = 1 + i) {
            this.nuevoItemSalida = {
              productosrecibidoIdproducto: this.arrayProductos[i].idproducto,
              salidasalmacenNumsalida: res.salidaAlmacen.numsalida,
              cantidad: this.arrayProductos[i].cantidad
            };
            this.$store.dispatch("itemsSalida/crearItemSalida", this.nuevoItemSalida).then(res => {
              console.log(res.mensaje);
            });
          }
        });
        this.cancelar();
      }
    },
    presentarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    eliminarItem(producto) {
      const pos = this.arrayProductos.indexOf(producto);
      this.arrayProductos.splice(pos, 1);
    },
    obtenerProducto(id) {
      const stock = this.listaProductos.filter(u => u.idproducto === id);
      return {
        cantidad: stock[0].cantidad
      };
    },
    cancelar() {
      this.$parent.agregarSalidaAlmacen();
    }
  }
};
</script>

<style></style>
