<template>
  <div class="contenedor">
    <div id="reporte">
      <h4 class="text-left font-weight-bold text-info mb-4">SALIDA DE ALMACÉN</h4>
      <div>
        <div class="row">
          <label class="text-left font-weight-bold pl-3 h5" for="">Datos:</label>
        </div>
        <div class="row">
          <label class="font-weight-bold pl-3" for="">Número:</label>
          <p class="pl-1">{{solicitudReporte.numsalida}}</p>
        </div>
        <div class="row">
          <label class="font-weight-bold pl-3" for="">Fecha Salida:</label>
          <p class="pl-1">{{solicitudReporte.fechasalida}}</p>
        </div>
        <div class="row">
          <label class="font-weight-bold pl-3" for="">Fecha Entrega:</label>
          <p class="pl-1">{{solicitudReporte.fechaentrada}}</p>
        </div>
        <div class="row">
          <label class="font-weight-bold pl-3" for="">Reponsable:</label>
          <p class="pl-1">{{solicitudReporte.empleadoresp}}</p>
        </div>
        <div class="row">
          <label class="font-weight-bold pl-3" for="">Área:</label>
          <p class="pl-1">{{solicitudReporte.area}}</p>
        </div> <!-- Fin de los datos -->
      </div>
    <table class="table">
      <thead class="bg-info">
        <tr>
        <th class="text-light" scope="col" >Codigo</th>
        <th class="text-light" scope="col">Producto</th>
        <th class="text-light" scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" v-for="item in listaFiltrada" :key="item.iditems">
          <td>{{item.productosrecibidoIdproducto}}</td>
          <td>{{item.nombreproducto}}</td>
          <td>{{item.cantidad}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <button @click="download" type="button" class="btn btn-primary">Imprimir</button>
  </div>
</template>

<script>
import html2canvas from 'html2canvas';
import JsPDF from 'jspdf';

export default {
  name: "Reporte",
  props: {
    solicitudReporte: Object,
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      return this.lista.filter((u) => (u.salidasalmacenNumsalida.toString().match(this.solicitudReporte.numsalida)));
    },
  },
  methods: {
    download() {
      const quotes = document.getElementById("reporte");
      html2canvas(quotes).then((canvas) => {
        const imgData = canvas.toDataURL('img/png');
        const doc = new JsPDF('p', 'mm', 'a4');
        const pdfWidth = doc.internal.pageSize.getWidth();
        const pdfHeight = doc.internal.pageSize.getHeight;
        const ratio = pdfHeight / pdfWidth;
        this.pdfHeight = ratio * pdfWidth;
        doc.addImage(imgData, 'PNG', 12, 10, 180, 100);
        doc.save('reporte.pdf');
      });
    },
  },
};
</script>

<style>
</style>
