<template>
  <div id="formUsuario" class="mb-3">
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="doble" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Correo electrónico ya registrado
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="doble = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3 class="text-left py-3 m-0">Crear Usuario</h3>
    <form name="form" class="py-4 border-top">
      <div class="form-row">
        <div class="form-group text-left col-md-6">
          <label for="inputNombres">Nombres</label>
          <input
            type="text"
            class="form-control"
            id="inputNombres"
            v-model="nuevoUsuario.nombre"
            required
          />
        </div>
        <div class="form-group col-md-6 text-left">
          <label for="inputApellidos">Apellidos</label>
          <input
            type="text"
            class="form-control"
            id="inputApellidos"
            v-model="nuevoUsuario.apellido"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 text-left">
          <label for="inputEmail">Correo</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            v-model="nuevoUsuario.correo"
            required
          />
          <small style="color: red" v-if="correo">* Correo electrónico inválido</small>
        </div>
        <div class="form-group col-md-6 text-left">
          <label for="inputPassword">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            v-model="nuevoUsuario.contrasena"
            required
          />
          <small style="color: red" v-if="contrasena">* Minimo 8 caracteres</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 text-left">
          <label for="inputCedula">Cedula</label>
          <input
            type="number"
            class="form-control"
            id="inputCedula"
            v-model="nuevoUsuario.cedula"
            required
          />
          <small style="color: red" v-if="cedula">* Minimo 10 caracteres</small>
        </div>
        <div class="form-group col-md-6 text-left ">
          <label for="inputCelular">Celular</label>
          <input
            type="number"
            class="form-control"
            id="inputCelular"
            v-model="nuevoUsuario.celular"
          />
          <small style="color: red" v-if="celular">* Minimo 10 caracteres</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 text-left">
          <label for="inputCentroCostos">Centro de Costos</label>
          <select
            name="comboBoxCentroCosto"
            id="inputCentroCostos"
            class="form-control"
            v-model="nuevoUsuario.centroscostoIdcentrocosto"
          >
            <option value="0" selected disabled>Escoja un centro de costos</option>
            <option
              :key="index"
              :value="centro.idcentrocosto"
              v-for="(centro, index) in centroCostos"
              >{{ centro.centrocosto }}</option
            >
          </select>
        </div>
        <div class="form-group col-md-6 text-left">
          <label for="inputRol">Rol</label>
          <select
            name="comboRol"
            id="inputRol"
            class="form-control"
            v-model="nuevoUsuario.roleIdrol"
          >
            <option value="0" selected disabled>Escoja un rol</option>
            <option :key="index" :value="rol.idrol" v-for="(rol, index) in roles">{{
              rol.rol
            }}</option>
          </select>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-secondary float-left" @click="cancelar">Cancelar</button>
    <button type="submit" v-if="nuevo" class="btn btn-success float-right" @click="crear">
      Guardar
    </button>
    <button type="button" v-else class="btn btn-primary float-right" @click="editar">
      Editar
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      error: false,
      doble: false,
      cedula: false,
      celular: false,
      correo: false,
      contrasena: false
    };
  },
  computed: {
    ...mapState({
      listaUsuario: state => state.usuarios.lista
    })
  },
  props: {
    nuevo: {
      type: Boolean
    },
    nuevoUsuario: {
      type: Object
    },
    roles: {
      type: Array
    },
    centroCostos: {
      type: Array
    }
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("usuarios/obtenerListaUsuarios");
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastUsuario");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    crear() {
      if (
        this.nuevoUsuario.nombre !== "" &&
        this.nuevoUsuario.cedula !== "" &&
        this.nuevoUsuario.apellido !== "" &&
        document.form.comboBoxCentroCosto.selectedIndex !== 0 &&
        this.nuevoUsuario.correo !== "" &&
        this.nuevoUsuario.celular !== "" &&
        this.nuevoUsuario.contrasena !== "" &&
        document.form.comboRol.selectedIndex !== 0
      ) {
        if (
          this.listaUsuario.filter(usuario => usuario.correo === this.nuevoUsuario.correo).length <=
          0
        ) {
          if (this.nuevoUsuario.cedula.length > 10 || this.nuevoUsuario.cedula.length < 10) {
            this.cedula = true;
          } else {
            this.cedula = false;
            if (this.nuevoUsuario.celular.length > 10 || this.nuevoUsuario.celular.length < 10) {
              this.celular = true;
            } else {
              this.celular = false;
              if ((this.nuevoUsuario.correo.indexOf("@") != -1) == true) {
                this.correo = false;
                if (this.nuevoUsuario.contrasena.length < 8) {
                  this.contrasena = true;
                } else {
                  this.contrasena = false;
                  this.$store.dispatch("usuarios/crearUsuario", this.nuevoUsuario).then(res => {
                    this.presentarToast(res.mensaje);
                    this.$parent.nuevo = true;
                  });
                  this.cancelar();
                }
              } else {
                this.correo = true;
              }
            }
          }
        } else {
          this.doble = true;
        }
      } else {
        this.error = true;
      }
    },
    editar() {
      if (
        this.nuevoUsuario.nombre !== "" &&
        this.nuevoUsuario.cedula !== "" &&
        this.nuevoUsuario.apellido !== "" &&
        document.form.comboBoxCentroCosto.selectedIndex !== 0 &&
        this.nuevoUsuario.correo !== "" &&
        this.nuevoUsuario.celular !== "" &&
        this.nuevoUsuario.contrasena !== "" &&
        document.form.comboRol.selectedIndex !== 0
      ) {
        if (this.nuevoUsuario.cedula.length > 10 || this.nuevoUsuario.cedula.length < 10) {
          this.cedula = true;
        } else {
          this.cedula = false;
          if (this.nuevoUsuario.celular.length > 10 || this.nuevoUsuario.celular.length < 10) {
            this.celular = true;
          } else {
            this.celular = false;
            if ((this.nuevoUsuario.correo.indexOf("@") != -1) == true) {
              this.correo = false;
              this.$store.dispatch("usuarios/editarUsuario", this.nuevoUsuario).then(res => {
                this.presentarToast(res.mensaje);
                this.$parent.cargarLista();
                this.$parent.nuevo = true;
                this.$parent.nuevoUsuario = {
                  idusuario: 0,
                  cedula: "",
                  nombre: "",
                  apellido: "",
                  centroscostoIdcentrocosto: 0,
                  correo: "",
                  celular: "",
                  contrasena: "",
                  roleIdrol: 0
                };
              });
              this.cancelar();
            } else {
              this.correo = true;
            }
          }
        }
      } else {
        this.error = true;
      }
    },
    cancelar() {
      this.$parent.agregarUsuario();
    }
  }
};
</script>

<style></style>
