<template>
  <div class="w-100">
    <!-- Toast -->
    <div id="toastUsuario" style="display: none; position: relative; z-index: 2000;">
      <div class="toast" style="position: absolute; top: 0; right: 0; opacity: 1;">
        <div class="toast-header">
          <strong class="mr-auto">Usuario</strong>
          <button
            type="button"
            id="btnCerarToastUsuario"
            @click="cerrarToast"
            class="ml-2 mb-1 close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>

    <h1 class="text-lg-left">Usuarios</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Usuarios<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>

    <Form v-show="form" :nuevoUsuario="nuevoUsuario" :nuevo="nuevo" :roles="listaRoles" :centroCostos="listaCentroCostos"/>
    <List v-show="!form" :lista="lista" />

    <!-- Modal -->
    <div class="modal fade" id="usuarioModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Usuarios</h5>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModal">Cancelar</button>
            <button type="button" id="btnEliminarUsuario" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/usuarios/List.vue";
import Form from "@/views/usuarios/Form.vue";

export default {
  name: "Index",
  components: {
    List,
    Form,
  },
  data() {
    return {
      form: false,
      roles: false,
      nuevo: true,
      nuevoUsuario: {
        idusuario: 0,
        cedula: "",
        nombre: "",
        apellido: "",
        centroscostoIdcentrocosto: 0,
        correo: "",
        celular: "",
        contrasena: "",
        roleIdrol: 0,
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.usuarios.lista,
      listaRoles: (state) => state.usuarios.listaRoles,
      listaCentroCostos: (state) => state.usuarios.listaCentroCostos,
    }),
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("usuarios/obtenerListaCentroCostos");
      this.$store.dispatch("usuarios/obtenerListaRoles");
      this.$store.dispatch("usuarios/obtenerListaUsuarios");
    },
    agregarUsuario() {
      this.form = !this.form;
    },
    cerrarToast() {
      const toast = document.getElementById("toastUsuario");
      toast.style.display = "none";
    },
    ocultarModal() {
      const modal = document.getElementById("usuarioModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
