<template>
  <div id="listaUsuarios">
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
        <button type="button" class="btn btn-success float-rigth m-1" @click="agregar">
          Agregar
        </button>
    </div>
    <div class="list-group">
      <Usuario :key="usuario.id" :usuario="usuario" v-for="usuario in listaFiltrada" />
    </div>
  </div>
</template>

<script>
import Usuario from "@/views/usuarios/Usuario.vue";

export default {
  name: "List",
  components: {
    Usuario,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.nombre.toUpperCase().match(match) || u.apellido.toUpperCase().match(match) || u.correo.toUpperCase().match(match) || u.cedula.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarUsuario();
    },
  },
};
</script>

<style></style>
