<template>
  <div class="list-group-item list-group-item-action">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ usuario.idusuario }}) {{ usuario.nombre }} {{ usuario.apellido }}
          <small>{{ usuario.cedula }} {{ usuario.centrocosto }} </small>
        </h5>
      </div>
      <p class="mb-1">
        {{ usuario.correo }} <small class="text-muted">{{ usuario.celular }}</small>
      </p>
      <small class="text-muted">Centro de Costos: <span class="badge badge-warning">{{ info.centrocosto }}</span></small>
      <small class="text-muted"> Rol: <span class="badge badge-dark">{{ info.rol }}</span></small>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Editar
      </button>
      <button type="button" class="btn btn-outline-danger btn-block" @click="presentarModal">
        Eliminar
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Usuario",
  props: {
    usuario: Object,
  },
  computed: {
    ...mapState({
      listaCentroCostos: (state) => state.usuarios.listaCentroCostos,
      listaRoles: (state) => state.usuarios.listaRoles,
    }),
    info() {
      const rol = this.listaRoles.filter((r) => r.idrol === this.usuario.roleIdrol);
      const centroCosto = this.listaCentroCostos.filter((c) => c.idcentrocosto === this.usuario.centroscostoIdcentrocosto);
      return {
        centrocosto: centroCosto[0].centrocosto,
        rol: rol[0].rol,

      };
    },
  },
  methods: {
    mostrarForm() {
      this.$parent.$parent.agregarUsuario();
      this.$parent.$parent.nuevo = false;
      this.$parent.$parent.nuevoUsuario = { ...this.usuario };
    },
    presentarModal() {
      const modal = document.getElementById("usuarioModal");
      const modalBody = modal.getElementsByClassName("modal-body");
      modalBody[0].innerHTML = `Estas seguro de eliminar al usuario: <strong class='text-danger'>${this.usuario.nombre}</strong>`;
      const btnEliminarModal = document.getElementById("btnEliminarUsuario");
      btnEliminarModal.addEventListener("click", this.eliminar);
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastUsuario");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    eliminar() {
      this.$store
        .dispatch("usuarios/eliminarUsuario", this.usuario)
        .then((res) => this.presentarToast(res.mensaje));
      const modal = document.getElementById("usuarioModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
