<template>
  <div>
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
    </div>
    <thead class="table bg-info">
      <tr>
        <th width="5%" scope="col" class="text-light">ID</th>
        <th width="7%" scope="col" class="text-light">Responsable</th>
        <th width="7%" scope="col" class="text-light">Fecha</th>
        <th width="6%" scope="col" class="text-light">Rubro presupuestal</th>
        <th width="8%" scope="col" class="text-light">Visualizar</th>
      </tr>
    </thead>
    <div class="table">
        <Rechazadas :key="rechazada.id" :rechazada="rechazada"  v-for="rechazada in listaFiltrada"/>
    </div>
  </div>
</template>
<script>
import Rechazadas from "@/views/solicitudes/solRechazadas/Rechazadas.vue";

export default {
  name: "List",
  components: {
    Rechazadas,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.numsolicitud.toString().match(match) || u.fecha.toString().match(match) || u.responsable.toUpperCase().match(match)));
    },
  },
};
</script>

<style>
</style>
