<template>
  <div class="rechazada">
    <table class="table table-hover">
      <tbody>
        <tr class="bg-white">
          <td width="5%">{{ rechazada.numsolicitud }}</td>
          <td width="7%">{{ rechazada.responsable }}</td>
          <td width="7%">{{ rechazada.fecha }}</td>
          <td width="7%">{{ rechazada.rubropresupuestal }}</td>
          <td width="7%">
            <button class="btn btn-info" type="button" @click="presentarModal">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Rechazada",
  props: {
    rechazada: Object,
  },
  methods: {
    presentarModal() {
      this.$parent.$parent.nuevoReporte = { ...this.rechazada };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
  },
};
</script>
<style>
</style>
