<template>
  <div class="w-100">
    <h1 class="text-lg-left">Ordenes contractuales</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Ordenes contractuales<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>
    <Form v-show="form" :nuevoProducto="nuevoProducto" :nuevoProveedor="nuevoProveedor"/>
    <List  v-show="!form" :lista="lista"/>
    <!-- Modal Proveedor-->
    <div class="modal fade" id="proveedoresModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-header">
            <h5 class="modal-title">Proveedores</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="ocultarModalProveedores">&times;</span>
            </button>
          </div>
          <div class="list-group">
            <Proveedor :key="proveedor.nit" :proveedor="proveedor" v-for="proveedor in listaProveedores" />
          </div>
          <div class="modal-body-name1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalProveedores">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Producto-->
    <div class="modal fade" id="productosModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-header">
            <h5 class="modal-title">Productos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="ocultarModalProductos">&times;</span>
            </button>
          </div>
          <div class="list-group">
            <Producto :key="producto.idproducto" :producto="producto" v-for="producto in listaProductos" />
          </div>
          <div class="modal-body-name1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalProductos">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Reporte-->
    <div class="modal fade" id="reporteModal">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-body">
            <Reporte :solicitudReporte="nuevoReporte" :lista="listaCompras"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalReporte">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/ordenes/ordenesDF/List.vue";
import Form from "@/views/ordenes/Form.vue";
import Proveedor from "@/views/ordenes/Proveedor.vue";
import Reporte from "@/views/ordenes/Reporte.vue";
import Producto from "@/views/ordenes/Producto.vue";

export default {
  name: "Index",
  components: {
    List,
    Form,
    Proveedor,
    Reporte,
    Producto,
  },
  data() {
    return {
      form: false,
      nuevaSolicitud: {
        numsolicitud: 0,
        usuarioIdusuario: 0,
        fecha: "",
        rubropresupuestal: 0,
        estado: null,
      },
      nuevoUsuario: {
        idusuario: 0,
        cedula: "",
        nombre: "",
        apellido: "",
        centroscostoIdcentrocosto: 0,
        correo: "",
        celular: "",
        contrasena: "",
        roleIdrol: 0,
      },
      nuevoProducto: {
        idproducto: 0,
        itemproducto: "",
        nombreproducto: "",
        valorunit: "",
      },
      nuevoItem: {
        iditems: 0,
        numsolicitud: 0,
        productoIdproducto: 0,
        unidadmedida: "",
        cantidad: 0,
        valorunit: 0,
      },
      nuevoProveedor: {
        nit: 0,
        nombreproveedor: "",
        direccionprov: "",
        telefono: "",
      },
      nuevoReporte: {
        numorden: 0,
        nombreProveedor: "",
        fechaorden: "",
        fechaentrega: "",
        total: 0,
        estado: false,
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.ordenes.lista,
      listaProductos: (state) => state.productos.lista,
      listaProveedores: (state) => state.proveedores.lista,
      listaCompras: (state) => state.compras.lista,
    }),
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("ordenes/obtenerListaOrdenes");
      this.$store.dispatch("proveedores/obtenerListaProveedores");
      this.$store.dispatch("productos/obtenerListaProductos");
      this.$store.dispatch("compras/obtenerListaCompras");
    },
    agregarOrden() {
      this.form = !this.form;
    },
    ocultarModalProveedores() {
      const modal = document.getElementById("proveedoresModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    ocultarModalReporte() {
      const modal = document.getElementById("reporteModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
    ocultarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style>
</style>
