<template>
  <div>
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
    </div>
    <thead class="table bg-info">
      <tr>
        <th width="3%" scope="col" class="text-light">ID</th>
        <th width="9%" scope="col" class="text-light">Proveedor</th>
        <th width="6%" scope="col" class="text-light">Fecha de Orden</th>
        <th width="6%" scope="col" class="text-light">Fecha de Entrega</th>
        <th width="3%" scope="col" class="text-light">Total</th>
        <th width="4%" scope="col" class="text-light">Estado</th>
        <th width="8%" scope="col" class="text-light">Visualizar</th>
      </tr>
    </thead>
    <div class="table bg-white">
      <template >
        <Ordenes :key="orden.id" :orden="orden" v-for="orden in listaFiltrada"/>
      </template>
    </div>
  </div>
</template>
<script>
import Ordenes from "@/views/ordenes/ordenesDF/Orden.vue";

export default {
  name: "List",
  components: {
    Ordenes,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.numorden.toString().match(match) || u.nombreproveedor.toUpperCase().match(match) || u.fechaorden.toString().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarOrden();
    },
  },
};
</script>

<style>
</style>
