<template>
  <div class="orden">
    <table class="table table-hover bg-white">
      <tbody>
        <tr>
          <th width="3%" scope="row">{{ orden.numorden }}</th>
          <td width="8%">{{ orden.nombreproveedor }}</td>
          <td width="5%">{{ orden.fechaorden }}</td>
          <td width="5%">{{ orden.fechaentrega }}</td>
          <td width="4%">{{ orden.total }}</td>
          <td width="4%">{{ info.estado }}</td>
          <td width="7%">
            <button class="btn btn-success mr-2" type="button" @click="aceptarSolicitud">Ace</button>
            <button class="btn btn-danger mr-2" type="button" @click="rechazarSolicitud">Rec</button>
            <button class="btn btn-info" type="button" @click="presentarModal">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Ordenes",
  props: {
    orden: Object,
  },
  computed: {
    ...mapState({
      info() {
        let estado;
        if (this.orden.estado === true) {
          estado = 'aprobado';
        } else if (this.orden.estado === false) {
          estado = 'rechazado';
        } else {
          estado = 'pendiente';
        }
        return {
          estado,
        };
      },
    }),
  },
  methods: {
    presentarModal() {
      this.$parent.$parent.nuevoReporte = { ...this.orden };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    aceptarSolicitud() {
      this.orden.estado = true;
      this.$store.dispatch("ordenes/editarOrden", this.orden).then((res) => {
        this.presentarToast(res.mensaje);
      });
    },
    rechazarSolicitud() {
      this.orden.estado = false;
      this.$store.dispatch("ordenes/editarOrden", this.orden).then((res) => {
        this.presentarToast(res.mensaje);
      });
    },
  },
};
</script>
<style>
</style>
