<template>
  <div
    class="w-75 m-auto shadow p-3 mb-5 bg-white rounded overflow-auto"
    style="height: 700px"
    data-target=".navbar"
    data-offset="50"
  >
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="doble" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Producto repetido
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="doble = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1 class="">Orden contractual</h1>
    <form name="form" class="text-left p-3">
      <label for="titleResponsable" class="font-weight-bold">PROVEEDOR</label>
      <div class="form-row">
        <!-- Contenedor para la informacion del usuario -->
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputProveedor"
            v-model="nuevoProveedor.nombreproveedor"
            required
            disabled
          />
        </div>
        <div class="form-group col-md-5">
          <label for="inputNit">Nit</label>
          <input
            id="inputNit"
            type="text"
            class="form-control"
            v-model="nuevoProveedor.nit"
            disabled
          />
        </div>
        <div class="form-group col-md-1 align-self-end">
          <button type="button" class="btn btn-success" @click="presentarModalProveedores">
            ...
          </button>
        </div>
      </div>
      <!-- Fin del primer contenedor  -->
      <label for="titleResponsable" class="font-weight-bold">ORDEN</label>
      <div class="form-row">
        <!-- Contenedor para la informacion de orden-->
        <div class="form-group col-md-3">
          <label for="fecha">Fecha de orden</label>
          <input
            name="fechaO"
            type="date"
            class="form-control"
            id="fecha"
            v-model="info.fechas"
            required
            disabled
          />
        </div>
        <div class="form-group col-md-3">
          <label for="fechaEntrega">Fecha de entrega</label>
          <input
            name="fechaE"
            type="date"
            class="form-control"
            id="fechaEntrega"
            v-model="fechaE"
            required
          />
        </div>
      </div>
      <label for="titleResponsable" class="font-weight-bold">PRODUCTO</label>
      <div class="row">
        <!-- Contenedor para la informacion del producto -->
        <div class="form-group col-md-5">
          <label for="inputNombrePorducto" class="text-left">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputNombrePorducto"
            v-model="nuevoProducto.nombreproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-5">
          <label for="inputIdProducto" class="text-left">Código</label>
          <input
            type="text"
            class="form-control"
            id="inputIdProducto"
            v-model="nuevoProducto.idproducto"
            disabled
          />
        </div>
        <div class="form-group col-md-2 align-self-end">
          <button type="button" class="btn btn-success" @click="presentarModalProductos">
            ...
          </button>
          <button type="button" class="btn btn-success btn-sm m-1 p-2" @click="agregar">
            Agregar
          </button>
        </div>
        <div class="form-group col-md-4">
          <label for="inputUnidadM">Unidad de medida: </label>
          <select name="comboB" id="inputUnidadM" class="form-control">
            <option value="0" selected disabled>Escoja una unidad de medida</option>
            <option>Unidad</option>
            <option>Decena</option>
            <option>Docena</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputCantidad" class="text-left">Cantidad Solicitada</label>
          <input id="inputCantidad" type="number" class="form-control " v-model="cantsolicitada" />
        </div>
        <div class="col-md-3">
          <label for="inputCantidadD" class="text-left">Cantidad Despachada</label>
          <input id="inputCantidadD" type="number" class="form-control" v-model="cantdespachada" />
        </div>
      </div>
      <!-- Fin del contenedor del segundo contenedor -->
      <div>
        <!-- Contenedor para la tabla -->
        <table class="table table-bordered">
          <tr class="text-center">
            <th scope="col">ID Producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Unidad Medida</th>
            <th scope="col">Cant Solicitada</th>
            <th scope="col">Cant Despachada</th>
            <th scope="col">Total</th>
            <th scope="col">Eliminar</th>
          </tr>
          <tr
            class="text-center"
            v-for="producto in arrayProductos"
            :key="producto.productoIdproducto"
          >
            <td v-text="producto.idproducto"></td>
            <td v-text="producto.nombreproducto"></td>
            <td v-text="producto.unidadmedida"></td>
            <td v-text="producto.cantsolicitada"></td>
            <td v-text="producto.cantdespachada"></td>
            <td v-text="producto.total"></td>
            <td>
              <div class="">
                <button
                  type="button"
                  class="btn btn-danger text-center"
                  @click="eliminarItem(producto)"
                >
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- Fin del tercer contenedor -->
      <div class="row justify-content-start">
        <div class="col-md-10">
          <input
            type="number"
            class="form-control col-md-3"
            id="total"
            v-model="montoTotal"
            disabled
          />
        </div>
        <div class="p-2">
          <button
            type="submit"
            name="button"
            class="btn btn-secondary btn-sm m-1 p-2"
            @click="cancelar"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-success btn-sm m-1 p-2" @click="crear">
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "Form",
  data() {
    return {
      fechaE: "",
      error: false,
      doble: false,
      cant: 0,
      cantDesp: 0,
      arrayProductos: [],
      idproducto: 0,
      nombreproducto: "",
      unidadmedida: "",
      cantsolicitada: 0,
      cantdespachada: 0,
      total: 0,
      montoTotal: 0
    };
  },
  props: {
    nuevo: {
      type: Object
    },
    nuevaOrden: {
      type: Object
    },
    nuevaCompra: {
      type: Object
    },
    nuevoProveedor: {
      type: Object
    },
    nuevoProducto: {
      type: Object
    }
  },
  computed: {
    info() {
      const fecha = new Date();
      const year = fecha.getFullYear();
      const month = fecha.getMonth() + 1;
      const day = fecha.getDate();
      const sep = "-";
      return {
        fechas: year + sep + month + sep + day
      };
    }
  },
  methods: {
    agregar() {
      if (
        this.nuevoProducto.idproducto !== 0 &&
        this.cantsolicitada > 0 &&
        this.cantdespachada > 0 &&
        document.form.comboB.selectedIndex !== 0
      ) {
        const producto = {
          idproducto: this.nuevoProducto.idproducto,
          nombreproducto: this.nuevoProducto.nombreproducto,
          unidadmedida: this.getUnidadMedida(),
          cantsolicitada: this.seleccionCombo(),
          cantdespachada: this.seleccionComboDespachada(),
          total: parseFloat(this.nuevoProducto.valorunit) * this.seleccionComboDespachada(),
          montoTotal: this.monto()
        };
        if (
          this.arrayProductos.filter(
            producto => producto.idproducto === this.nuevoProducto.idproducto
          ).length <= 0
        ) {
          this.arrayProductos.push(producto);
          this.montoTotal = this.monto();
          this.nuevoProducto.idproducto = 0;
          this.nuevoProducto.nombreproducto = "";
          this.cantsolicitada = 0;
          this.cantdespachada = 0;
          document.form.comboB.selectedIndex = 0;
        } else {
          this.doble = true;
        }
      } else {
        this.error = true;
      }
    },
    monto() {
      let suma = 0;
      for (let i = 0; i < this.arrayProductos.length; i = 1 + i) {
        const element = this.arrayProductos[i].total;
        suma += parseFloat(element);
      }
      return suma;
    },
    crear() {
      this.nuevaOrden = {
        proveedoreNit: this.nuevoProveedor.nit,
        fechaorden: this.info.fechas,
        fechaentrega: this.fechaE,
        estado: null,
        total: this.montoTotal
      };
      if (this.nuevoProveedor.nombreproveedor === "" || this.nuevaOrden.fechaentrega === "" || this.arrayProductos.length === 0) {
        this.error = true;
      } else {
        this.$store.dispatch("ordenes/crearOrden", this.nuevaOrden).then(res => {
          for (let i = 0; i < this.arrayProductos.length; i = 1 + i) {
            this.nuevaCompra = {
              ordenescontractualeNumorden: res.ordenContractual.numorden,
              productoIdproducto: this.arrayProductos[i].idproducto,
              unidadmedida: this.arrayProductos[i].unidadmedida,
              cantidadsolicitada: this.arrayProductos[i].cantsolicitada,
              cantidaddespachada: this.arrayProductos[i].cantdespachada,
              nomtototal: this.arrayProductos[i].total
            };
            this.$store.dispatch("compras/crearCompra", this.nuevaCompra).then(res => {
              console.log(res.mensaje);
            });
            this.$parent.agregarOrden();
          }
        });
        this.cancelar();
      }
    },
    presentarModalProveedores() {
      const modal = document.getElementById("proveedoresModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarModalProductos() {
      const modal = document.getElementById("productosModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    getUnidadMedida() {
      if (document.form.comboB.selectedIndex === 1) {
        return "Unidad";
      }
      if (document.form.comboB.selectedIndex === 2) {
        return "Decena";
      }
      if (document.form.comboB.selectedIndex === 3) {
        return "Docena";
      }
      return "";
    },
    eliminarItem(producto) {
      const pos = this.arrayProductos.indexOf(producto);
      this.montoTotal -= this.arrayProductos[pos].total;
      this.arrayProductos.splice(pos, 1);
    },
    seleccionCombo() {
      if (document.form.comboB.selectedIndex === 1) {
        this.cant = this.cantsolicitada;
      }
      if (document.form.comboB.selectedIndex === 2) {
        this.cant = this.cantsolicitada * 10;
      }
      if (document.form.comboB.selectedIndex === 3) {
        this.cant = this.cantsolicitada * 12;
      }
      return this.cant;
    },
    seleccionComboDespachada() {
      if (document.form.comboB.selectedIndex === 1) {
        this.cantDesp = this.cantdespachada;
      }
      if (document.form.comboB.selectedIndex === 2) {
        this.cantDesp = this.cantdespachada * 10;
      }
      if (document.form.comboB.selectedIndex === 3) {
        this.cantDesp = this.cantdespachada * 12;
      }
      return this.cantDesp;
    },
    cancelar() {
      this.$parent.agregarOrden();
    }
  }
};
</script>

<style></style>
