<template>
  <div class="aceptado">
    <table class="table table-hover bg-white">
      <tbody>
        <tr>
          <td width="5%">{{ aceptado.numsolicitud }}</td>
          <td width="7%">{{ aceptado.responsable }}</td>
          <td width="7%">{{ aceptado.fecha }}</td>
          <td width="7%">{{ aceptado.rubropresupuestal }}</td>
          <td width="7%">
            <button class="btn btn-info" type="button"  @click="presentarModal">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Aceptados",
  props: {
    aceptado: Object,
  },
  methods: {
    presentarModal() {
      this.$parent.$parent.nuevoReporte = { ...this.aceptado };
      const modal = document.getElementById("reporteModal");
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
  },
};
</script>
<style>
</style>
