<template>
  <div class="w-100">
    <h1 class="text-lg-left">Solicitudes Aceptadas</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Solicitudes Aceptadas<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>
    <List :lista="listaFiltrada" />
    <!-- Modal Reporte-->
    <div class="modal fade" id="reporteModal">
      <div class="modal-dialog modal-lg  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-200">
          <div class="modal-body">
            <Reporte :solicitudReporte="nuevoReporte" :lista="listaItems" :listaProducto="listaProductos"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModalReporte">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/solicitudes/solAceptadas/List.vue";
import Reporte from "@/views/solicitudes/Reporte.vue";

export default {
  name: "Index",
  components: {
    List,
    Reporte,
  },
  data() {
    return {
      nuevoReporte: {
        numsolicitud: 0,
        usuarioIdusuario: 0,
        fecha: "",
        rubropresupuestal: 0,
        estado: null,
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.solicitudes.lista,
      listaProductos: (state) => state.productos.lista,
      listaItems: (state) => state.items.lista,
    }),
    listaFiltrada() {
      return this.lista.filter((u) => (u.estado === true));
    },
  },
  created() {
    this.$store.dispatch("solicitudes/obtenerListaSolicitudes");
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("items/obtenerListaItems");
      this.$store.dispatch("productos/obtenerListaProductos");
    },
    ocultarModalReporte() {
      const modal = document.getElementById("reporteModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style>
</style>
