<template>
  <div id="formProducto" class="mb-3">
    <div v-if="error" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Advertencia!</strong> Complete los campos solicitados
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="error = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="dobleCodigo" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Error!</strong> Codigo repetido
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        @click="dobleCodigo = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3 class="text-left py-3 m-0">Crear Producto</h3>
    <form class="py-4 border-top">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputNombre"
            v-model="nuevoProducto.nombreproducto"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputCodigo">Código</label>
          <input
            type="text"
            class="form-control"
            id="inputCodigo"
            v-model="nuevoProducto.itemproducto"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputValor">Valor Unitario</label>
          <input
            type="number"
            class="form-control"
            id="inputValor"
            v-model="nuevoProducto.valorunit"
          />
          <small style="color: red" v-if="valor">* El valor debe ser mayor a $0</small>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-secondary float-left" @click="cancelar">Cancelar</button>
    <button type="button" v-if="nuevo" class="btn btn-success float-right" @click="crear">
      Guardar
    </button>
    <button type="button" v-else class="btn btn-primary float-right" @click="editar">
      Editar
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      error: false,
      valor: false,
      dobleCodigo: false
    };
  },
  props: {
    nuevo: {
      type: Boolean
    },
    nuevoProducto: {
      type: Object
    }
  },
  computed: {
    ...mapState({
      listaProductos: state => state.productos.lista
    })
  },
  methods: {
    presentarToast(msg) {
      const toast = document.getElementById("toastProducto");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    crear() {
      if (
        this.nuevoProducto.nombreproducto === "" ||
        this.nuevoProducto.valorunit === "" ||
        this.nuevoProducto.itemproducto === ""
      ) {
        this.error = true;
      } else {
        if (this.nuevoProducto.valorunit <= 0) {
          this.valor = true;
        } else {
          this.valor = false;
          if (
            this.listaProductos.filter(
              producto => producto.itemproducto === this.nuevoProducto.itemproducto
            ).length <= 0
          ) {
            this.$store.dispatch("productos/crearProducto", this.nuevoProducto).then(res => {
              this.presentarToast(res.mensaje);
            });
            this.cancelar();
          } else {
            this.dobleCodigo = true;
          }
        }
      }
    },
    editar() {
      if (
        this.nuevoProducto.nombreproducto === "" ||
        this.nuevoProducto.valorunit === "" ||
        this.nuevoProducto.itemproducto === ""
      ) {
        this.error = true;
      } else {
        if (this.nuevoProducto.valorunit <= 0) {
          this.valor = true;
        } else {
          this.valor = false;
          this.$store.dispatch("productos/editarProducto", this.nuevoProducto).then(res => {
            this.presentarToast(res.mensaje);
            this.$parent.cargarLista();
            this.$parent.nuevo = true;
            this.$parent.nuevoProducto = {
              idproducto: 0,
              nombreproducto: "",
              itemproducto: "",
              valorunit: "",
              cantidad: 0
            };
          });
          this.cancelar();
        }
      }
    },
    cancelar() {
      this.$parent.agregarProducto();
    }
  }
};
</script>

<style></style>
