<template>
  <div class="w-100">
    <!-- Toast -->
    <div id="toastProducto" style="display: none; position: relative; z-index: 2000;">
      <div class="toast" style="position: absolute; top: 0; right: 0; opacity: 1;">
        <div class="toast-header">
          <strong class="mr-auto">Producto</strong>
          <button
            type="button"
            id="btnCerarToastProducto"
            @click="cerrarToast"
            class="ml-2 mb-1 close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>

    <h1 class="text-lg-left">Productos</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Productos<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">/ Lista</a>
          </li>
        </ul>
      </div>
    </nav>

    <Form v-show="form" :nuevoProducto="nuevoProducto" :nuevo="nuevo" />
    <List v-show="!form" :lista="lista" />

    <!-- Modal -->
    <div class="modal fade" id="productoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Productos</h5>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="ocultarModal">Cancelar</button>
            <button type="button" id="btnEliminarProducto" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenedor general -->
</template>

<script>
import { mapState } from "vuex";
import List from "@/views/productos/List.vue";
import Form from "@/views/productos/Form.vue";

export default {
  name: "Index",
  components: {
    List,
    Form,
  },
  data() {
    return {
      form: false,
      nuevo: true,
      nuevoProducto: {
        idproducto: 0,
        itemproducto: "",
        nombreproducto: "",
        valorunit: "",
        cantidad: 0,
      },
    };
  },
  computed: {
    ...mapState({
      lista: (state) => state.productos.lista,
    }),
  },
  created() {
    this.cargarLista();
  },
  methods: {
    cargarLista() {
      this.$store.dispatch("productos/obtenerListaProductos");
    },
    agregarProducto() {
      this.form = !this.form;
    },
    cerrarToast() {
      const toast = document.getElementById("toastProducto");
      toast.style.display = "none";
    },
    ocultarModal() {
      const modal = document.getElementById("productoModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
