<template>
  <div id="listaProductos">
    <div class="row justify-content-between p-3">
      <input
        type="text"
        class="form-control col-md-4"
        id="formGroupExampleInput"
        placeholder="Buscar"
        v-model="buscar"
      />
      <button type="button" class="btn btn-success float-rigth" @click="agregar">
        Agregar
      </button>
    </div>
    <div class="list-group">
      <Producto :key="producto.idproducto" :producto="producto" v-for="producto in listaFiltrada" />
    </div>
  </div>
</template>
<script>
/* import { mapState, mapGetters } from "vuex"; */
import Producto from "@/views/productos/Producto.vue";

export default {
  name: "List",
  components: {
    Producto,
  },
  props: {
    lista: {
      type: Array,
    },
  },
  data() {
    return {
      buscar: '',
    };
  },
  computed: {
    listaFiltrada() {
      const match = this.buscar.toUpperCase();
      return this.lista.filter((u) => (u.nombreproducto.toUpperCase().match(match) || u.itemproducto.toUpperCase().match(match)));
    },
  },
  methods: {
    agregar() {
      this.$parent.agregarProducto();
    },
  },
};
</script>

<style></style>
