<template>
  <div class="list-group-item list-group-item-action">
    <div class="text-left float-left">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">
          {{ producto.idproducto }})   {{ producto.nombreproducto }}
        </h5>
      </div>
      <div class="badge badge-dark">
      Codigo: {{ producto.itemproducto }}
      </div>
      <div>
        <small class="badge badge-success">Valor: {{ producto.valorunit }}</small>
      </div>
      <small class="badge badge-success">Cantidad: {{ producto.cantidad }}</small>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-block" @click="mostrarForm">
        Editar
      </button>
      <button type="button" class="btn btn-outline-danger btn-block" @click="presentarModal">
        Eliminar
      </button>
    </div>
  </div>
</template>

<script>

export default {
  name: "Producto",
  props: {
    producto: Object,
  },
  methods: {
    mostrarForm() {
      this.$parent.$parent.agregarProducto();
      this.$parent.$parent.nuevo = false;
      this.$parent.$parent.nuevoProducto = { ...this.producto };
    },
    presentarModal() {
      const modal = document.getElementById("productoModal");
      const modalBody = modal.getElementsByClassName("modal-body");
      modalBody[0].innerHTML = `Estas seguro de eliminar el producto: <strong class='text-danger'>${this.producto.nombreproducto}</strong>`;
      const btnEliminarModal = document.getElementById("btnEliminarProducto");
      btnEliminarModal.addEventListener("click", this.eliminar);
      modal.style.display = "block";
      modal.style.background = "#00000094";
      modal.classList.add("show");
    },
    presentarToast(msg) {
      const toast = document.getElementById("toastProducto");
      const toastBody = toast.getElementsByClassName("toast-body");
      toastBody[0].innerHTML = msg;
      toast.style.display = "block";
    },
    eliminar() {
      this.$store
        .dispatch("productos/eliminarProducto", this.producto)
        .then((res) => this.presentarToast(res.mensaje));
      const modal = document.getElementById("productoModal");
      modal.style.display = "none";
      modal.classList.remove("show");
    },
  },
};
</script>
<style></style>
